html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}
/* Réinitialisation des marges et des rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tables---------------------------------------------------------------------------------------------------- */
.db-table {
  border-collapse: collapse;
}

.db-table tbody tr:nth-of-type(even) {
  background-color: #e0e7ff;
}

/* tabs---------------------------------------------------------------------------------------------------- */
.active {
  color: #22c55e;
}

.dashactive {
  color: #22c55e;
  background-color: white;
}

/* tabs---------------------------------------------------------------------------------------------------- */

/* Create an active/current tablink class */
.tab button.active {
  background-color: #172554;
  color: white;
}

/* Style the tab content */
/* .tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #eee;
  border-top: none;
} */

/* carousel---------------------------------------------------------------------------------------------------- */
.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 500px;
  border-radius: 0.5rem;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.carousel-slider {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  width: 500%;
  transition: all ease-in-out 0.5s;
}

.carousel-slider img {
  /* width: 100%; */
  /* height: 100%; */
  /* height: 500px; */
  flex-basis: 30%;
  width: 20%;
  flex-shrink: 0;
  flex: 1;
  border-radius: 0.5rem;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-nav {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
}
/* The dots/bullets/indicators */
.carousel-nav li {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c6c6c6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel-nav li:hover {
  background-color: #4fd862;
}

/* animations ---------------------------------------------------z------------------------------------------------- */
.fadeout {
  opacity: 0;
  transition: ease-in 1s;
  transition-delay: 2s;
}

.fadein {
  opacity: 1;
  transition: ease-out 1s;
}

.slideout {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.slidein {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* .stagerout {
  opacity: 0;
}
.stagerin {
  opacity: 1;
  transition: ease-in 1s;
}
.stagerin:nth-child(2) {
  transition-delay: 200ms;
} */

@media (prefers-redusced-motion) {
  .fadetext {
    transition: none;
  }
}

/* client folder styles ---------------------------------------------------------------------------------------------------- */

/* Styles de base pour l'accordéon */
.accordion {
  /* max-width: 400px; */
  margin: 20px auto;
}

.accordion-item {
  margin-bottom: 5px;
  border-radius: 10px;
  position: relative;
  border-top: 1px solid #dfdfe0;
  padding: 1.8125rem 0;
}

.accordion-header {
  /* background-color: #f1f1f1; */
  padding: 25px;
  cursor: pointer;
}

.accordion-content {
  display: none;
  padding: 10px;
}

/* Styles pour afficher le contenu lorsqu'une section est ouverte */
.accordion-item.active .accordion-content {
  display: block;
}

#cart1 {
  border: 2px solid #4fd862;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

#cart2 {
  border: 2px solid #d34b9d;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

#cart3 {
  border: 2px solid #680c94;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

#cart4 {
  border: 2px solid #d34b9d;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

#cart4 {
  border: 2px solid #d34b9d;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

#cart5 {
  border: 2px solid #4fd862;
  border-radius: 30px;
  padding: 10px 50px 10px 0;
  height: 180px;
}

/* page paiement */

#hr {
  width: 165px;
  height: -10px;
  border-bottom: 8px solid;
  /* color: #fcbc1c; */
  color: #86efac;
  background-color: #86efac;
  border-radius: 10px;
}
