{% extends 'main.html' %} {% load static %} {% block content %}
<div class="lg:px-8 w-full max-w-[1350px] mx-auto">
  <section class="mb-8 w-full flex justify-between gap-6">
    <div class="w-full flex justify-between">
      <div class="p-4 flex flex-col w-80 bg-gray-200 rounded-l-md">
        <div
          class="my-4 w-full bg-white rounded-md flex justify-between text-xs"
        >
          <button
            class="tablinks px-4 py-2 hover:bg-blue-950 hover:text-white rounded-l-md w-full"
            onclick="openTab(event, 'messages')"
            id="defaultOpen"
          >
            <i class="fa-solid fa-comments"></i>
            <span class="hidden lg:inline lg:ml-2">Messages</span>
          </button>
          <button
            class="tablinks px-4 py-2 bg-white hover:bg-blue-950 hover:text-white rounded-r-md w-full"
            onclick="openTab(event, 'contacts')"
          >
            <i class="fa-solid fa-address-book"></i>
            <span class="hidden lg:inline lg:ml-2">Contacts</span>
          </button>
        </div>

        <div class="w-full">
          <!-- messages or threads  -->
          <div id="messages" class="tabcontent">
            {% include 'components/thread_list.html' %}
          </div>
          <!-- contacts  -->
          <div id="contacts" class="tabcontent">
            {% for obj in contacts %}
            <a href="{% url 'chat_page' obj.id %}">
              <li
                class="p-2 {% if user.id == obj.id %} hidden {% else %} flex flex-row items-center gap-2 mb-2 bg-white sm:text-sm lg:text-md rounded-md cursor-pointer {% endif %} hover:bg-gray-200 transition ease-in duration-200"
                chat-id="chat_{active_thread.id}"
              >
                {% if not obj.image %}
                <img
                  class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
                  src="{% static 'imgs/avatar.png' %}"
                  ="image"
                />
                {% else %}
                <img
                  class="h-5 w-5 lg:h-8 lg:w-8 rounded-full object-cover"
                  src="{{obj.image.url}}"
                  ="image"
                />
                {% endif %}
                <div class="w-full lg:text-sm">
                  <h4 class="text-black font-bold">
                    {{obj.last_name}} {{obj.first_name}}
                  </h4>
                  <p>@{{obj.username|truncatechars:15}}</p>
                </div>
              </li>
            </a>
            {% endfor %}
          </div>

          <!-- groups  -->

          <!-- <div id="groups" class="tabcontent">
        <h3>Groupes</h3>
        <p>Auncun groupe disponible.</p>
      </div> -->
        </div>
      </div>

      <div
        class="p-4 flex flex-col w-full border-2 border-gray-200 rounded-r-md"
      >
        <section class="relative h-full w-full">
          <div
            class="px-4 py-2 bg-blue-950 flex items-center absolute top-0 rounded-md"
          >
            {% if not other_user.image %}
            <img
              class="h-5 w-5 rounded-full object-cover"
              src="{% static 'imgs/avatar.png' %}"
              alt="image"
            />
            {% else %}
            <img
              class="h-5 w-5 rounded-full object-cover"
              src="{{other_user.image.url}}"
              alt="image"
            />
            {% endif %}
            <span class="ml-2 text-xs text-gray-200">
              @{{other_user.username}}
            </span>
          </div>
          <div class="my-[60px] h-full w-full overflow-auto">
            <table class="h-full w-full">
              <tbody id="chat-box" class="flex flex-col gap-4 overflow-auto">
                {% for obj in messages %}
                <!--  -->
                {% if obj.sender == other_user.id %}

                <tr>
                  <td
                    class="px-4 py-2 bg-white text-black text-left rounded-md flex flex-col max-w-md float-left"
                  >
                    <p>{{obj.message}}</p>
                    <span class="text-xs text-gray-500"
                      >{{obj.timestamp.time}}</span
                    >
                  </td>
                </tr>

                {% else %}
                <tr>
                  <td
                    class="mr-2 px-4 py-2 bg-black text-white text-right rounded-md flex flex-col max-w-md float-right"
                  >
                    <p>{{obj.message}}</p>
                    <span class="text-xs text-gray-300"
                      >{{obj.timestamp.time}}</span
                    >
                  </td>
                </tr>

                {% endif %}
                <!--  -->
                {% endfor %}
              </tbody>
            </table>
          </div>

          <!------------------ chat form ------------------->
          <form
            id="chat-form"
            class="w-full mx-auto flex gap-2 flex-row justify-between absolute fixed bottom-0"
          >
            <input
              type="text"
              name="message"
              id="chat-input"
              required
              class="px-4 py-2 rounded-md ring-1 focus:ring-green-300 text-black w-full outline-none"
              placeholder="ecrivez votre message..."
            />
            <button
              class="group px-4 py-2 text-sm bg-blue-950 hover:bg-green-300 text-white rounded-md"
              type="submit"
            >
              <i
                class="px-2 py-2 fa-solid fa-paper-plane group-hover:text-black"
              ></i>
            </button>
          </form>
        </section>
      </div>
    </div>

    <img
      class="w-full max-w-[320px] h-[320px] bg-gray-200 rounded-md object-cover"
      src="{% static 'imgs/sch_ad.jpg' %}"
      alt="image"
    />
  </section>
</div>

{{other_user.id|json_script:"receiver-id"}}
{{request.user.id|json_script:"sender-id"}} {% endblock %}
