<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body class="bg-green-300">

    <!-- start navbar -->

    <!-- and navbar -->

    <!-- start banner -->
    <section class="bg-green-300 py-8 ">
        <div class="container max-w-7xl mx-auto m-8 px-8">

            <div class="grid lg:grid-cols-1 md:grid-cols-2 gap-16 bg-white rounded-2xl">

                <div class="mt-4  rounded sm:ml-4 md:ml-4 lg:ml-0" style="text-align: -webkit-center;">
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-16 bg-white">
                        <div class=""></div>
                        <div class="w-full overflow-hidden">
                            <img src="img/404 Error-rafiki.png" alt="" class="rounded-t-lg w-full" id="cat_img">
                        </div>
                        <div class=""></div>
                    </div>
                </div>
                <div class="ml-24 mr-24 text-center mb-12" style="margin-top: -80px;">
                    <h1 class="text-black my-4 text-6xl font-bold leading-tight" style="font-size: 40px;">
                        Oups, Pages introuvables
                    </h1>

                    <p class="leading-normal text-2xl mb-8">
                        désolé, les pages que vous recherchez ne sont pas accessibles ; Vous pouvez toujours faire demi-tour et repartir depuis le point de départ.
                    </p>
                    <a href="index.html">
                        <button class="bg-[#172554] hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">
                            Retour à l'Accueil 
                        </button>
                    </a>
                    
                </div>

            </div>


        </div>
    </section>

    <!-- and banner -->



</body>

</html>