{% extends 'main.html' %} {% load static %} {% block content %}
<!-- start banner -->
<section class="bg-white py-8">
  <div class="container max-w-6xl mx-auto m-8 px-8">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-16">
      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/acess.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
            style="width: 512px; height: 312px; object-fit: cover"
          />
        </div>
      </div>
      <div class="">
        <h1
          class="text-black my-4 text-5xl font-bold leading-tight"
          style="font-size: 60px"
        >
          Accessibilité d'afridemia
        </h1>

        <p class="leading-normal text-2xl mb-8">
          Facilitez vos achats en consultant nos options de paiement sécurisées.
          Nous offrons une variété de méthodes pour garantir des transactions en
          ligne sans souci.
        </p>
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>
    </div>
  </div>
</section>

<!-- and banner -->

<section class="bg-white py-8">
  <div class="container max-w-6xl mx-auto m-8 px-8">
    <div class="grid lg:grid-cols-1 md:grid-cols-1 gap-10 mb-20">
      <div class="text-center">
        <p class="text-xl">
          Afridemia s'efforce généralement d'assurer l'accessibilité de sa
          plateforme afin de permettre à un large éventail d'utilisateurs de
          bénéficier de ses services. Voici quelques éléments couramment pris en
          compte pour améliorer l'accessibilité :
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-10 mb-10">
      <div class="">
        <h2 class="text-4xl mb-2">Conformité aux normes d'accessibilité</h2>
        <hr id="hr" class="mb-5" />
        <p class="text-xl">
          Afridemia peut suivre les lignes directrices et les normes
          d'accessibilité établies, telles que les normes WCAG (Web Content
          Accessibility Guidelines). Cela implique de rendre le site web ou
          l'application compatible avec les technologies d'assistance utilisées
          par les personnes en situation de handicap, comme les lecteurs
          d'écran, les claviers alternatifs, etc.
        </p>
        <br />
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>

      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/about.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-10 mt-10 mb-10">
      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/about.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>

      <div class="">
        <h2 class="text-4xl mb-2">Navigation claire et intuitive</h2>
        <hr id="hr" class="mb-5" />
        <p class="text-xl">
          Afridemia peut s'efforcer de rendre son interface conviviale et facile
          à naviguer pour tous les utilisateurs, y compris ceux ayant des
          limitations physiques ou cognitives. Cela peut inclure des menus
          clairs, une structure logique des pages, des libellés explicites et
          des indications visuelles pour faciliter la compréhension.
        </p>
        <br />
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>
    </div>

    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-10 mt-10 mb-10">
      <div class="">
        <h2 class="text-4xl mb-2">Contraste et lisibilité</h2>
        <hr id="hr" class="mb-5" />
        <p class="text-xl">
          Afridemia peut veiller à ce que les couleurs utilisées sur son site
          web ou son application aient un contraste adéquat pour faciliter la
          lisibilité pour les personnes ayant des problèmes de vision ou de
          perception des couleurs. Il peut également offrir des options de
          taille de police ajustable pour s'adapter aux préférences des
          utilisateurs.
        </p>
        <br />
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>

      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/about.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-10 mt-10 mb-10">
      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/about.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>
      <div class="">
        <h2 class="text-4xl mb-2">Alternative textuelle pour les images</h2>
        <hr id="hr" class="mb-5" />
        <p class="text-xl">
          Afridemia peut inclure des descriptions alternatives pour les images
          afin de permettre aux utilisateurs aveugles ou malvoyants de
          comprendre le contenu visuel à l'aide de lecteurs d'écran.
        </p>
        <br />
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>
    </div>
    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-10 mt-10 mb-10">
      <div class="">
        <h2 class="text-4xl mb-2">Adaptation aux différents appareils</h2>
        <hr id="hr" class="mb-5" />
        <p class="text-xl">
          Afridemia peut concevoir son site web ou son application pour
          s'adapter aux différents types d'appareils et de tailles d'écran, y
          compris les ordinateurs de bureau, les tablettes et les smartphones.
          Cela permet aux utilisateurs d'accéder facilement aux services
          d'Afridemia quel que soit l'appareil qu'ils utilisent.
        </p>
        <br />
        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>

      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/about.jpg"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
