<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="style.css"/>
 
</head>

<body>

 
 <!-- start banner -->
<section class="bg-white py-8 ">
    <div class="container max-w-6xl mx-auto m-8 px-8">
       
    <div class="grid lg:grid-cols-1 md:grid-cols-2 gap-16">
    
        <div class="mt-4  rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
            <img src="img/Ios_img (2).png" alt="" class="rounded-t-lg w-full" id="cat_img">
        </div>
        
        </div>
         
    </div>

    
    </div>
</section>

 
<!-- and banner -->
 



<!-- start all footer -->
<div class="container">
    <div class="max-w-md mx-auto bg-white rounded p-8">
      <h2 class="text-2xl font-bold mb-4">Inscrivez vous à notre Newsletter</h2>
      <form>
        <div class="grid grid-cols-2 ml-14">
          <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold mb-2"></label>
            <input type="email" id="email" name="email" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-indigo-500" placeholder="Votre adresse e-mail" required>
          </div>
          <div class="">
            <button type="submit" class="bg-green-300 text-white px-3 py-2 rounded hover:bg-blue-950 ml-2" style="margin-top: 9px;">S'inscrire</button>
          </div>
        </div>
        
      </form>
    </div>

  </div>
   <!-- Footer start -->
   <footer class="bg-blue-950 text-center text-white dark:bg-neutral-600 dark:text-neutral-200 lg:text-left ">
    <div class="mx-6 py-10 text-center md:text-left max-w-7xl  ml-16 px-8">
        <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-5">

            <!-- section Information -->
            <div class="">

                <h3 class="mb-4 text-white text-lg font-bold">
                    Informations
                </h3>
                <p class="mb-4">
                    <a href="about.html" class="text-white dark:text-neutral-200 hover:text-green-300">À propos
                        d’afridemia</a>
                </p>
                <p class="mb-4">
                    <a href="contact.html"
                        class="text-white dark:text-neutral-200 hover:text-green-300">Contactez-nous </a>
                </p>
                <p class="mb-4">
                    <a href="Blog.html" class="text-white dark:text-neutral-200 hover:text-green-300">Blog</a>
                </p>
                <p class="mb-4">
                    <a href="ccm.html" class="text-white dark:text-neutral-200 hover:text-green-300"> Comment ça
                        marche</a>
                </p>
                <p class="mb-4">
                    <a href="faq.html" class="text-white dark:text-neutral-200 hover:text-green-300"> Foire aux
                        questions</a>
                </p>
                <p>
                    <a href="aide.html" class="text-white dark:text-neutral-200 hover:text-green-300"> Aide et
                        support</a>
                </p>
            </div>

            <!-- section Liens utiles -->
            <div class="">

                <h3 class="mb-4 text-white text-lg font-bold">
                    Liens utiles
                </h3>
                <p class="mb-4">
                    <a href="paiement.html" class="text-white dark:text-neutral-200 hover:text-green-300">Moyens de
                        paiement</a>
                </p>
                <p class="mb-4">
                    <a href="#!" class="text-white dark:text-neutral-200 hover:text-green-300">Application mobile
                        afridemia </a>
                </p>
                <p class="mb-4">
                    <a href="accessibilite.html" class="text-white dark:text-neutral-200 hover:text-green-300">Accessibilité</a>
                </p>
                <p>
                    <a href="infos.html" class="text-white dark:text-neutral-200 hover:text-green-300"> Infos sur notre
                        application</a>
                </p>
            </div>
            <!-- section Mentions légales -->
            <div class="">

                <h3 class="mb-4 text-white text-lg font-bold">
                    Mentions légales
                </h3>
                <p class="mb-4">

                    <a href="politique_confidentialite.html" class="text-white dark:text-neutral-200 hover:text-green-300">Politique de
                        confidentialité</a>
                </p>
                <p class="mb-4">
                    <a href="termes_condition.html" class="text-white dark:text-neutral-200 hover:text-green-300">Termes et
                        Conditions</a>
                </p>
                <p class="mb-4">
                    <a href="Politique_securite.html" class="text-white dark:text-neutral-200 hover:text-green-300">Politique de sécurité
                    </a>
                </p>
                <p>
                    <a href="parametre_cookie.html" class="text-white dark:text-neutral-200 hover:text-green-300">Paramètres des
                        cookies</a>
                </p>
            </div>
            <!-- section demande aide -->
            <div class="">

                <h3 class="mb-4 text-white text-lg font-bold">
                    Besoin d'aide ?
                </h3>
                <p class="mb-4">
                    <a href="client.html" class="text-white dark:text-neutral-200 hover:text-green-300">Service Client</a>
                </p>
                <p class="mb-4">
                    <a href="politique_commerciale.html" class="text-white dark:text-neutral-200 hover:text-green-300">Politique commerciale
                    </a>
                </p>
                <p class="mb-4">
                    <a href="condition_de_vente.html" class="text-white dark:text-neutral-200 hover:text-green-300">Condition générale de
                        vente</a>
                </p>

            </div>
            <!-- section demande aide -->
            <div class="">

                <h3 class="mb-4 text-white text-lg font-bold">
                    Application mobile
                </h3>
                <p class="mb-0">
                    <a href="https://play.google.com/store/apps/details?id=votre_application" target="_blank" >
                        <img src="img/1.png" alt="Google Play Store" width="120" height="40" class="w-full ">
                    </a>
                </p>
                <p class="mb-4">
                    <a href="https://play.google.com/store/apps/details?id=votre_application" target="_blank">
                        <img src="img/2.png" alt="Google Play Store" width="120" height="40" class="w-full">
                    </a>
                </p>
                <p class="mb-4">
                    <a href="#!" class="text-white dark:text-neutral-200 hover:text-green-300"></a>
                </p>

            </div>
        </div>
    </div>

    <!--Copyright-->
    <div class="mx-6 py-10 text-center md:text-left max-w-7xl  ml-8 px-8">
        <div class="grid-1 grid gap-8 md:grid-cols-2 lg:grid-cols-2">
            <div class="bg-blue-950 p-6  dark:bg-neutral-700">
                <span> Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script></span>
                <a class="font-semibold text-white dark:text-neutral-400" href="">komal-technologies,All right reserved </a>
                <div class="mt-4">
                    <!-- <a href="" class="text-white dark:text-neutral-200 hover:text-green-300 ml-4">Blog</a>
            <a href="" class="text-white dark:text-neutral-200 hover:text-green-300 ml-4">Tarifs</a>
            <a href="" class="text-white dark:text-neutral-200 hover:text-green-300 ml-4">Faq</a> -->
    
                </div>
            </div>
            <div class="flex justify-right mt-6 mr-8 " style="justify-content: right;">
                <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="white"
                    viewBox="0 0 24 24">
                    <path
                      d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z" />
                  </svg>
                </a>
                <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="white"
                    viewBox="0 0 24 24">
                    <path
                      d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z" />
                  </svg>
                </a>
                
                <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
                    <svg xmlns="http://www.w3.org/2000/svg"
                     height="1em"
                    viewBox="0 0 576 512"
                    fill="white">
                    <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"/></svg>
                </a>
                <a href="#!" class="mr-6 text-neutral-600 dark:text-neutral-200">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4"
                    fill="white"
                    viewBox="0 0 24 24">
                    <path
                      d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" />
                  </svg>
                </a>
                 
            </div>
        </div>
    </div>
    
    
</footer>
<!-- and all footer -->
<script src="style.js"></script>

</body>

</html>