{% extends 'main.html' %} {% load static %} {% block content %}
<!-- start banner -->
<section class="bg-white py-8">
  <div class="container max-w-6xl mx-auto m-8 px-8">
    <div class="grid lg:grid-cols-2 md:grid-cols-2 gap-16">
      <div class="mt-4 rounded sm:ml-4 md:ml-4 lg:ml-0">
        <div class="w-full overflow-hidden">
          <img
            src="img/ccm1.png"
            alt=""
            class="rounded-t-lg w-full"
            id="cat_img"
          />
        </div>
      </div>
      <div class="">
        <h1 class="text-black my-4 text-5xl font-bold leading-tight">
          Découvrez comment naviguer sur Afridemia en toute simplicité !
        </h1>

        <p class="leading-normal text-2xl mb-8">
          Notre page 'Comment ça marche' vous guide étape par étape pour
          profiter au maximum de notre plateforme.
        </p>

        <!-- <p class="text-gray-700 text-base">Description de la Card</p> -->
      </div>
    </div>
  </div>
</section>

<!-- and banner -->

<section class="bg-white py-8">
  <div class="container max-w-6xl mx-auto m-8 px-8">
    <h2
      class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800"
    >
      Ce que vous pouvez réaliser avec Afridemia
    </h2>
    <div class="w-full bg-white p-4 rounded-md mt-10">
      <ul class="flex tab-links" style="justify-content: center">
        <li class="-mb-px mr-1">
          <a
            href="#tab1"
            class="bg-white inline-block py-2 px-4 font-semibold text-gray-600 hover:text-blue-500 border-l border-t border-r rounded-t"
          >
            Pour les utilisateurs
          </a>
        </li>
        <li class="mr-1">
          <a
            href="#tab2"
            class="bg-white inline-block py-2 px-4 font-semibold text-gray-600 hover:text-blue-500"
          >
            Pour les ecoles
          </a>
        </li>

        <li class="mr-1">
          <a
            href="#tab3"
            class="bg-white inline-block py-2 px-4 font-semibold text-gray-600 hover:text-blue-500"
          >
            Pour les enseignants
          </a>
        </li>
      </ul>
      <div class="p-4">
        <div class="tab-content">
          <div class="tab-pane" id="tab1">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-10 gap-8">
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart1"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      1. Recherche d'écoles
                    </div>
                    <p class="text-gray-700 text-base">
                      Les utilisateurs peuvent utiliser la fonction de recherche
                      d'écoles pour trouver des établissements qui correspondent
                      à leurs critères spécifiques. Ils peuvent spécifier des
                      filtres tels que la localisation géographique, le niveau
                      d'enseignement, les programmes d'études et d'autres
                      critères pertinents. Afridemia affiche ensuite une liste
                      d'écoles correspondantes.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart2"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      2. Profils d'écoles
                    </div>
                    <p class="text-gray-700 text-base">
                      Chaque école répertoriée dispose d'un profil détaillé qui
                      fournit des informations telles que son historique, ses
                      programmes, ses installations, son personnel enseignant et
                      d'autres détails pertinents. Les utilisateurs peuvent
                      consulter ces profils pour en savoir plus sur chaque
                      école.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart3"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      3. Recherche d'enseignants
                    </div>
                    <p class="text-gray-700 text-base">
                      Les utilisateurs peuvent également effectuer une recherche
                      d'enseignants sur Afridemia. Ils peuvent spécifier les
                      niveaux d'enseignement, les matières enseignées, les
                      compétences pédagogiques et d'autres critères pour trouver
                      des enseignants qualifiés correspondant à leurs besoins.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart4"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      4. Profils d'enseignants
                    </div>
                    <p class="text-gray-700 text-base">
                      Les enseignants ont la possibilité de créer des profils
                      détaillés sur Afridemia. Ils peuvent fournir des
                      informations sur leurs qualifications, leur expérience,
                      leurs compétences pédagogiques, leurs préférences
                      d'enseignement, ainsi que des témoignages ou des
                      recommandations éventuelles. Ces profils aident les
                      utilisateurs à évaluer les enseignants potentiels.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart5"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      5. Mise en relation
                    </div>
                    <p class="text-gray-700 text-base">
                      Afridemia facilite la mise en relation entre les
                      utilisateurs, les écoles et les enseignants. Les
                      utilisateurs peuvent contacter les écoles ou les
                      enseignants directement via les coordonnées fournies sur
                      leurs profils. Cela permet d'organiser des entretiens, de
                      poser des questions supplémentaires ou de discuter des
                      modalités de collaboration.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane hidden" id="tab2">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-10 gap-8">
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart1"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">1. Inscription</div>
                    <p class="text-gray-700 text-base">
                      Les écoles doivent s'inscrire sur Afridemia pour figurer
                      dans la liste des écoles disponibles. Elles fournissent
                      des informations sur leur établissement telles que
                      l'adresse, le niveau d'enseignement, les programmes
                      offerts, les installations, etc.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart2"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">2. Profil d'école</div>
                    <p class="text-gray-700 text-base">
                      Une fois inscrites, les écoles peuvent créer un profil
                      détaillé qui met en valeur leurs caractéristiques, leurs
                      programmes, leur personnel enseignant et d'autres
                      informations pertinentes. Cela permet aux utilisateurs de
                      mieux comprendre l'école et ses offres éducatives.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart3"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      3. Recherche et mise en relation
                    </div>
                    <p class="text-gray-700 text-base">
                      Les utilisateurs qui recherchent des écoles peuvent
                      utiliser les filtres de recherche disponibles sur
                      Afridemia pour trouver des écoles qui correspondent à
                      leurs critères spécifiques. Lorsqu'ils trouvent une école
                      qui les intéresse, ils peuvent contacter directement
                      l'école via les coordonnées fournies sur le profil ou via
                      messagerie interne.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane hidden" id="tab3">
            <div class="grid lg:grid-cols-3 md:grid-cols-2 mt-10 gap-8">
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart1"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">1. Inscription</div>
                    <p class="text-gray-700 text-base">
                      Les enseignants intéressés doivent s'inscrire sur
                      Afridemia en créant un compte. Ils fournissent des
                      informations sur leurs qualifications, leur expérience,
                      les niveaux d'enseignement auxquels ils sont compétents,
                      les matières qu'ils enseignent, etc.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart2"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      2. Profil d'enseignant
                    </div>
                    <p class="text-gray-700 text-base">
                      Une fois inscrits, les enseignants peuvent créer un profil
                      détaillé qui présente leurs compétences, leur expérience,
                      leurs préférences d'enseignement et d'autres informations
                      pertinentes. Cela permet aux utilisateurs de mieux évaluer
                      les enseignants potentiels.
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="max-w-sm rounded overflow-hidden shadow-lg"
                id="cart3"
              >
                <div class="grid lg:grid-cols-2 md:grid-cols-2 mt-0 gap-4">
                  <div class="class">
                    <img
                      class="w-full"
                      src="img/c01.png"
                      alt="Description de l'image"
                    />
                  </div>
                  <div class="class">
                    <div class="font-bold text-xl mb-2">
                      3. Recherche et mise en relation
                    </div>
                    <p class="text-gray-700 text-base">
                      Les utilisateurs qui recherchent des enseignants peuvent
                      utiliser les filtres de recherche disponibles sur
                      Afridemia pour trouver des enseignants qui correspondent à
                      leurs critères spécifiques. Lorsqu'ils trouvent un
                      enseignant qui répond à leurs besoins, ils peuvent
                      contacter directement l'enseignant via les coordonnées
                      fournies sur le profil ou via messagerie interne.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
