{% extends 'main.html' %} {% load static %} {% block content %}

<section class="bg-green-300 py-8">
  <div
    class="py-10 px-6 flex flex-col items-center gap-8 bg-white max-w-7xl mx-auto rounded-2xl"
  >
    <img
      src="{% static 'imgs/not_found.png' %}"
      alt=""
      class="w-full h-80 object-contain"
      id="img"
    />
    <div class="mb-10 w-full max-w-3xl mx-auto text-center">
      <h1 class="text-black my-4 text-6xl font-bold">
        Oups, Page introuvable!
      </h1>

      <p class="leading-normal text-lg mb-8">
        désolé, les pages que vous recherchez ne sont pas accessibles ; Vous
        pouvez toujours faire demi-tour et repartir depuis le point de départ.
      </p>
      <a
        onclick="window.history.go(-1)"
        class="bg-blue-950 hover:bg-green-500 text-white font-semibold py-2 px-4 rounded"
      >
        Retour
      </a>
    </div>
  </div>
</section>

{% endblock %}
