{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Paramètre de cookies - Afridemia
        </h3>
        <p data-aos=" -up">
          Chez Afridemia, nous utilisons des cookies et des technologies
          similaires sur notre site web et notre application pour améliorer
          votre expérience utilisateur et collecter des informations sur votre
          utilisation de nos services. Cette politique de cookies explique
          comment nous utilisons ces technologies et comment vous pouvez gérer
          vos préférences en matière de cookies.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Qu'est-ce qu'un cookie ?
        </h2>
        <p>
          Un cookie est un petit fichier texte qui est stocké sur votre appareil
          lorsque vous visitez un site web ou utilisez une application. Les
          cookies permettent au site web ou à l'application de se souvenir de
          vos actions et préférences au fil du temps. Ils sont largement
          utilisés pour améliorer l'efficacité du site web, fournir des
          fonctionnalités personnalisées et collecter des informations sur
          l'utilisation du site web.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Types de cookies que nous utilisons
        </h2>
        <p>Nous utilisons les types de cookies suivants :</p>

        <ul class="list-disc">
          <li class="ml-8">
            Cookies essentiels : Ces cookies sont nécessaires au fonctionnement
            de notre site web et de nos services. Ils vous permettent de
            naviguer sur le site et d'utiliser ses fonctionnalités de base.
          </li>
          <li class="ml-8">
            Cookies de performance : Ces cookies collectent des informations sur
            la façon dont les visiteurs utilisent notre site web, tels que les
            pages visitées, le temps passé sur le site et les erreurs
            éventuelles. Ces informations nous aident à améliorer la performance
            et la convivialité de notre site.
          </li>
          <li class="ml-8">
            Cookies de fonctionnalité : Ces cookies permettent au site web de se
            souvenir de vos choix et préférences, tels que votre langue préférée
            ou votre région. Ils offrent une expérience plus personnalisée et
            améliorent la convivialité du site.
          </li>
          <li class="ml-8">
            Cookies de ciblage et de publicité : Ces cookies sont utilisés pour
            diffuser des publicités ciblées en fonction de vos intérêts et de
            votre comportement de navigation. Ils peuvent également être
            utilisés pour limiter le nombre de fois que vous voyez une publicité
            et mesurer l'efficacité des campagnes publicitaires.
          </li>
        </ul>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Gérer les préférences en matière de cookies
        </h2>
        <p>
          Vous pouvez gérer vos préférences en matière de cookies en modifiant
          les paramètres de votre navigateur ou de votre appareil. La plupart
          des navigateurs vous permettent de contrôler les cookies en les
          acceptant, en les refusant ou en les supprimant. Veuillez noter que le
          blocage ou la suppression des cookies peut affecter certaines
          fonctionnalités de notre site web.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Consentement
        </h2>
        <p>
          En utilisant notre site web et nos services, vous consentez à
          l'utilisation des cookies conformément à cette politique de cookies.
          Si vous n'acceptez pas l'utilisation des cookies, veuillez configurer
          vos préférences de cookies ou cesser d'utiliser notre site web.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Modifications de la politique de cookies
        </h2>
        <p>
          Nous nous réservons le droit de modifier cette politique de cookies à
          tout moment. Toute modification sera publiée sur notre site web. Nous
          vous encourageons à consulter régulièrement cette politique pour vous
          tenir informé des mises à jour.
        </p>

        <p class="mb-10">
          Si vous avez des questions ou des préoccupations concernant notre
          utilisation des cookies, veuillez nous contacter en utilisant les
          coordonnées fournies dans notre politique de confidentialité.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
