{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Politique de confidentialité - Afridemia
        </h3>
        <p data-aos=" -up">
          Chez Afridemia, nous accordons une grande importance à la
          confidentialité de vos informations personnelles. Nous nous engageons
          à protéger la confidentialité de vos données et à respecter les lois
          et réglementations applicables en matière de protection des données.
          La présente politique de confidentialité décrit comment nous
          collectons, utilisons, partageons et protégeons vos informations
          lorsque vous utilisez nos services. Votre utilisation de nos services
          implique votre acceptation des pratiques décrites dans cette politique
          de confidentialité. Veuillez prendre le temps de lire attentivement
          cette politique et n'hésitez pas à nous contacter si vous avez des
          questions ou des préoccupations.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Collecte des informations personnelles
        </h2>
        <p>
          Afridemia collecte certaines informations personnelles auprès de ses
          utilisateurs lors de leur inscription et de leur utilisation de nos
          services. Cela peut inclure des informations telles que le nom,
          l'adresse e-mail, le numéro de téléphone, les informations académiques
          et professionnelles, ainsi que d'autres informations nécessaires à la
          fourniture de nos services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Partage des informations
        </h2>
        <p>
          Afridemia peut partager certaines informations personnelles avec des
          tiers dans le but de fournir nos services. Cela peut inclure des
          écoles, des enseignants et d'autres partenaires impliqués dans le
          processus de recherche et de mise en relation. Nous nous engageons à
          ne partager que les informations nécessaires et à prendre les mesures
          nécessaires pour protéger la confidentialité de vos données.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Sécurité des données
        </h2>
        <p>
          Afridemia met en place des mesures de sécurité techniques et
          organisationnelles appropriées pour protéger les informations
          personnelles contre tout accès non autorisé, toute divulgation, toute
          modification ou toute destruction. Cela comprend l'utilisation de
          protocoles de sécurité, de cryptage des données, de contrôles d'accès
          et de procédures strictes de gestion des données.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Conservation des données
        </h2>
        <p>
          Afridemia conservera les informations personnelles des utilisateurs
          aussi longtemps que nécessaire pour fournir nos services et se
          conformer aux obligations légales. Les données seront conservées de
          manière sécurisée et seront supprimées de nos systèmes lorsque leur
          conservation ne sera plus nécessaire.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Cookies et technologies similaires
        </h2>
        <p>
          Afridemia peut utiliser des cookies et d'autres technologies
          similaires pour collecter des informations et améliorer l'expérience
          utilisateur. Les utilisateurs ont la possibilité de désactiver les
          cookies dans leurs paramètres de navigateur, mais cela peut affecter
          leur utilisation de nos services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Liens vers des sites tiers
        </h2>
        <p>
          Notre site web ou notre application peuvent contenir des liens vers
          des sites web ou des services tiers. Veuillez noter que nous ne sommes
          pas responsables de leurs pratiques en matière de confidentialité.
          Nous vous encourageons à consulter les politiques de confidentialité
          de ces tiers avant de fournir vos informations personnelles.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Droits des utilisateurs
        </h2>
        <p>
          Les utilisateurs ont le droit d'accéder, de corriger, de mettre à jour
          ou de supprimer leurs informations personnelles. Vous pouvez exercer
          ces droits en nous contactant selon les modalités décrites dans notre
          politique de confidentialité.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Consentement et choix
        </h2>
        <p>
          Afridemia respecte votre droit de choisir la manière dont vos
          informations personnelles sont utilisées. Lors de la collecte de
          données, nous vous demanderons votre consentement explicite avant de
          les utiliser à des fins spécifiques. Vous avez également la
          possibilité de retirer votre consentement à tout moment en nous
          contactant.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Transfert international de données
        </h2>
        <p>
          Afridemia peut transférer vos informations personnelles vers des pays
          situés en dehors de votre pays de résidence, dans le cadre de la
          fourniture de nos services. Nous prendrons les mesures appropriées
          pour nous assurer que vos données sont protégées conformément aux lois
          applicables en matière de confidentialité des données.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Confidentialité des mineurs
        </h2>
        <p>
          Les services d'Afridemia ne sont pas destinés aux personnes âgées de
          moins de 18 ans. Nous ne collectons pas sciemment d'informations
          personnelles auprès de mineurs. Si vous êtes un parent ou un tuteur et
          que vous pensez que votre enfant nous a fourni des informations
          personnelles, veuillez nous contacter afin que nous puissions
          supprimer ces informations.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Modifications de la politique de confidentialité
        </h2>
        <p>
          Afridemia se réserve le droit de modifier cette politique de
          confidentialité à tout moment. Toute modification sera affichée sur
          notre site web ou notre application, avec la date d'entrée en vigueur.
          Nous vous encourageons à consulter régulièrement cette politique pour
          vous tenir informé des mises à jour.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Contactez-nous
        </h2>
        <p class="mb-10">
          Si vous avez des questions, des préoccupations ou des demandes
          concernant notre politique de confidentialité, veuillez nous contacter
          en utilisant les coordonnées fournies sur notre site web ou notre
          application.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
