{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Politique de securité - Afridemia
        </h3>
        <p data-aos=" -up">
          Chez Afridemia, nous accordons une grande importance à la sécurité de
          nos utilisateurs et à la protection de leurs données. Nous avons mis
          en place une politique de sécurité robuste pour garantir la
          confidentialité, l'intégrité et la disponibilité de vos informations.
          La présente politique de sécurité décrit nos engagements et les
          mesures que nous avons prises pour assurer un environnement sûr lors
          de votre utilisation de notre plateforme.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Protection des données personnelles
        </h2>
        <p>
          Afridemia s'engage à respecter la confidentialité et à protéger les
          données personnelles de ses utilisateurs conformément aux
          réglementations applicables. Des mesures de sécurité appropriées
          seront mises en place pour prévenir l'accès non autorisé, la
          divulgation, la modification ou la destruction des données
          personnelles.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Accès sécurisé
        </h2>
        <p>
          L'accès aux informations sensibles et aux systèmes d'Afridemia sera
          restreint aux personnes autorisées. Des mécanismes d'authentification
          robustes, tels que des identifiants uniques et des mots de passe
          sécurisés, seront mis en place pour garantir que seules les personnes
          autorisées puissent accéder aux données et aux systèmes.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Protection contre les logiciels malveillants
        </h2>
        <p>
          Afridemia utilisera des logiciels de sécurité à jour pour détecter et
          prévenir les logiciels malveillants. Des procédures de vérification
          régulières des systèmes seront mises en place pour détecter les
          menaces potentielles et y remédier rapidement.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Sauvegarde des données
        </h2>
        <p>
          Afridemia effectuera des sauvegardes régulières de ses données afin de
          prévenir toute perte de données en cas de sinistre ou de
          dysfonctionnement. Les procédures de sauvegarde seront testées
          régulièrement pour garantir leur efficacité et leur intégrité.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Sécurité physique
        </h2>
        <p>
          Les installations d'Afridemia seront sécurisées physiquement pour
          prévenir l'accès non autorisé. Cela peut inclure des systèmes de
          surveillance, des contrôles d'accès et des mesures de protection
          contre les intrusions physiques.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Sensibilisation à la sécurité
        </h2>
        <p>
          Afridemia sensibilisera ses employés à la sécurité des données et des
          systèmes. Des formations régulières sur les bonnes pratiques de
          sécurité seront dispensées afin de maintenir un niveau de conscience
          élevé parmi le personnel.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Suivi et évaluation
        </h2>
        <p>
          Afridemia effectuera régulièrement des audits de sécurité pour évaluer
          l'efficacité de ses mesures de sécurité et identifier les domaines à
          améliorer. Les incidents de sécurité seront également suivis et
          traités rapidement pour minimiser les impacts potentiels.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Conformité aux réglementations
        </h2>
        <p class="mb-10">
          Afridemia se conformera aux réglementations applicables en matière de
          sécurité des données, de confidentialité et de protection des
          utilisateurs. Les politiques et procédures de sécurité seront
          régulièrement revues pour garantir leur conformité aux normes en
          vigueur.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
