{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Politique commerciale
        </h3>
        <p data-aos=" -up">
          Chez Afridemia, notre politique commerciale est centrée sur la
          fourniture de services de haute qualité, la transparence des tarifs,
          la flexibilité des abonnements, un service clientèle attentif, la
          promotion de la diversité et de l'inclusion, des partenariats
          stratégiques et une innovation continue. Ces principes fondamentaux
          guident notre approche commerciale et nous permettent de créer une
          expérience éducative exceptionnelle pour nos utilisateurs.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          1. Qualité des services
        </h2>
        <p>
          Nous nous engageons à fournir des services de haute qualité qui
          répondent aux besoins et aux attentes de nos utilisateurs. Nous nous
          efforçons de maintenir des normes élevées de qualité dans tous les
          aspects de notre activité, de la conception de notre plateforme à la
          prestation de nos services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          2. Transparence des tarifs
        </h2>
        <p>
          Nous nous engageons à être transparents et clairs concernant nos
          tarifs. Les tarifs applicables à nos services seront clairement
          indiqués sur notre site web ou notre application, et nous fournirons
          des informations détaillées sur les options de paiement disponibles.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          3. Flexibilité des abonnements
        </h2>
        <p>
          Nous offrons des options d'abonnement flexibles pour répondre aux
          besoins spécifiques de nos utilisateurs. Que vous recherchiez une
          adhésion à court terme ou à long terme, nous avons des options
          adaptées à différents budgets et préférences.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          4. Service clientèle attentif
        </h2>
        <p>
          Nous accordons une grande importance à la satisfaction de nos
          utilisateurs. Notre équipe de service clientèle est disponible pour
          répondre à vos questions, résoudre les problèmes et vous offrir une
          assistance personnalisée. Nous nous efforçons de fournir un service
          clientèle réactif, aimable et professionnel.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          5. Promotion de la diversité et de l'inclusion
        </h2>
        <p>
          Nous croyons en l'importance de la diversité et de l'inclusion dans
          l'éducation. Nous nous engageons à promouvoir l'accès équitable à nos
          services, indépendamment de l'origine, du genre, de l'âge ou de toute
          autre caractéristique protégée.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          6. Partenariats stratégiques
        </h2>
        <p>
          Nous cherchons activement à établir des partenariats stratégiques avec
          des écoles, des enseignants et d'autres acteurs de l'éducation. Ces
          partenariats nous permettent d'élargir notre portée, d'améliorer nos
          services et de créer des synergies pour offrir une expérience
          éducative enrichissante.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          7. Innovation continue
        </h2>
        <p>
          Nous restons constamment à l'écoute des besoins changeants de notre
          public et de l'évolution du paysage éducatif. Nous nous engageons à
          innover en permanence, en développant de nouvelles fonctionnalités, en
          explorant de Nouvelles approches pédagogiques et en restant à
          l'avant-garde des tendances technologiques.
        </p>

        <p class="mb-10">
          Ces principes guident notre politique commerciale et nous permettent
          de créer une expérience éducative de qualité pour nos utilisateurs.
          Nous nous engageons à respecter ces principes et à établir des
          relations durables avec nos clients, partenaires et parties prenantes.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
