{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Conditions générales de vente - Afridemia
        </h3>
        <p data-aos=" -up">
          Les présentes conditions générales de vente régissent l'utilisation
          des services proposés par Afridemia. En utilisant nos services, vous
          acceptez d'être lié par ces conditions générales. Nous vous
          encourageons à lire attentivement les termes et conditions suivants,
          car ils définissent vos droits et obligations lors de l'utilisation de
          notre plateforme.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          1. Acceptation des conditions générales
        </h2>
        <p>
          En utilisant les services d'Afridemia, vous acceptez les présentes
          conditions générales de vente dans leur intégralité. Il est important
          de lire attentivement ces conditions avant d'utiliser les services
          d'Afridemia.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          2. Utilisation des services
        </h2>
        <p>
          Les services proposés par Afridemia sont destinés à faciliter la
          recherche d'écoles et d'enseignants. Vous vous engagez à utiliser les
          services d'Afridemia uniquement à des fins légales et conformément aux
          présentes conditions générales.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          3. Tarifs et paiement
        </h2>
        <p>
          Les tarifs des services d'Afridemia seront indiqués de manière claire
          et transparente. Les utilisateurs seront responsables du paiement des
          frais associés aux services utilisés, tels que les abonnements ou les
          achats à la demande. Les modalités de paiement acceptées seront
          précisées.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          4. Droit de rétractation
        </h2>
        <p>
          Les utilisateurs peuvent avoir droit à un délai de rétractation
          conformément à la législation en vigueur. Les conditions et les
          procédures de rétractation seront détaillées dans les CGV d'Afridemia.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          5. Responsabilités de l'utilisateur
        </h2>
        <p>
          Les utilisateurs sont responsables de l'exactitude des informations
          fournies lors de l'utilisation des services d'Afridemia. Ils doivent
          respecter les règles de conduite et ne pas utiliser les services d'une
          manière qui pourrait causer un préjudice à Afridemia ou à d'autres
          utilisateurs.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          6. Confidentialité et protection des données
        </h2>
        <p>
          Afridemia s'engage à respecter la confidentialité des données des
          utilisateurs conformément à sa politique de confidentialité. Les
          informations collectées seront utilisées uniquement dans le cadre des
          services fournis par Afridemia et ne seront pas divulguées à des tiers
          sans consentement préalable, sauf dans les cas prévus par la loi.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          7. Modification des services et des CGV
        </h2>
        <p>
          Afridemia se réserve le droit de modifier les services proposés ainsi
          que les présentes conditions générales de vente. Les utilisateurs
          seront informés de tout changement et auront la possibilité d'accepter
          les nouvelles conditions ou de résilier leur utilisation des services
          d'Afridemia.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          8. Limitation de responsabilité
        </h2>
        <p>
          Afridemia fera tous les efforts raisonnables pour assurer la
          disponibilité et la fiabilité de ses services. Cependant, Afridemia ne
          peut garantir l'absence d'interruptions ou d'erreurs techniques. En
          aucun cas, Afridemia ne pourra être tenu responsable des dommages
          directs ou indirects découlant de l'utilisation de ses services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          9. Loi applicable et juridiction compétente
        </h2>
        <p class="mb-10">
          Les présentes conditions générales de vente sont régies par la loi du
          pays dans lequel Afridemia est basé. Tout litige découlant de
          l'utilisation des services d'Afridemia sera soumis
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
