{% extends 'main.html' %} {% load static %} {% block content %}
<section class="bg-white py-8">
  <div class="container max-w-5xl mx-auto m-8 px-8 shadow-lg">
    <div
      class="grid lg:grid-cols-1 md:grid-cols-1 mt-10 gap-8"
      style="border-radius: 25px"
    >
      <div class="class">
        <h3 class="mt-5 mb-4" style="font-size: 22px">
          Termes et conditions
        </h3>
        <p data-aos=" -up">
          Bienvenue sur Afridemia ! Les présents termes et conditions régissent
          votre utilisation de notre plateforme et de nos services. En accédant
          à Afridemia et en utilisant nos services, vous acceptez d'être lié par
          ces termes et conditions. Veuillez les lire attentivement avant de
          procéder. Si vous n'acceptez pas ces termes, veuillez ne pas utiliser
          nos services. Si vous avez des questions ou des préoccupations,
          n'hésitez pas à nous contacter.
        </p>
        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Acceptation des termes
        </h2>
        <p>
          En utilisant les services d'Afridemia, vous acceptez d'être lié par
          les présents termes et conditions. Si vous n'acceptez pas ces termes,
          veuillez ne pas utiliser nos services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Utilisation des services
        </h2>
        <p>
          Vous devez utiliser les services d'Afridemia conformément aux lois et
          réglementations applicables. Vous êtes responsable de toutes les
          activités effectuées sous votre compte et vous vous engagez à ne pas
          utiliser les services d'Afridemia à des fins illicites ou
          frauduleuses.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Inscription
        </h2>
        <p>
          Pour accéder à certains services d'Afridemia, vous devrez vous
          inscrire et créer un compte. Les informations que vous fournissez lors
          de l'inscription doivent être exactes, complètes et à jour. Vous êtes
          responsable de la confidentialité de votre compte et de vos
          informations de connexion.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Contenu de l'utilisateur
        </h2>
        <p>
          En utilisant les services d'Afridemia, vous pouvez publier du contenu
          tel que des commentaires, des avis ou d'autres informations. Vous êtes
          entièrement responsable du contenu que vous publiez et vous
          garantissez que vous avez les droits nécessaires pour le faire.
          Afridemia se réserve le droit de supprimer tout contenu jugé
          inapproprié ou en violation des présents termes et conditions.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Propriété intellectuelle
        </h2>
        <p>
          Tous les droits de propriété intellectuelle liés aux services
          d'Afridemia, y compris les textes, les graphiques, les logos, les
          images, les vidéos et les logiciels, sont la propriété d'Afridemia ou
          de ses partenaires. Vous ne pouvez pas reproduire, distribuer,
          modifier, publier ou utiliser de quelque manière que ce soit le
          contenu protégé par des droits d'auteur sans autorisation préalable.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Limitation de responsabilité
        </h2>
        <p>
          Afridemia met tout en œuvre pour fournir des services de qualité, mais
          ne garantit pas l'exactitude, l'exhaustivité ou la fiabilité du
          contenu ou des informations disponibles sur la plateforme. Afridemia
          n'est pas responsable des dommages directs, indirects, accidentels ou
          consécutifs résultant de l'utilisation de ses services.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Modification des termes
        </h2>
        <p>
          Afridemia se réserve le droit de modifier les présents termes et
          conditions à tout moment. Les modifications seront publiées sur la
          plateforme et entreront en vigueur dès leur publication. Il est de
          votre responsabilité de consulter régulièrement les termes et
          conditions pour prendre connaissance des éventuelles modifications.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Résiliation
        </h2>
        <p>
          Afridemia se réserve le droit de résilier ou de suspendre votre accès
          aux services à tout moment, pour quelque raison que ce soit, sans
          préavis. Vous pouvez également résilier votre compte à tout moment en
          nous contactant.
        </p>

        <h2 style="font-size: 16px; font-weight: 700" class="mt-4">
          Droit applicable et juridiction compétente
        </h2>
        <p class="mb-10">
          Les présents termes et conditions sont régis par les lois du pays où
          Afridemia est établi. Tout litige découlant des présents termes et
          conditions sera soumis à la juridiction exclusive des tribunaux
          compétents
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
