{% extends 'dash_head.html' %} {% load static %} {% block content %}
<div class="p-6 w-full max-w-[1350px] mx-auto">
  <section class="flex flex-col md:grid grid-cols-2 gap-6">
    <!-- schools overview -->

    <a
      href="{% url 'dash_schools' %}"
      class="px-6 py-10 w-full bg-gray-100 hover:shadow-lg hover:bg-green-100 mx-auto flex flex-col items-center justify-between gap-4 rounded-md group"
    >
      <div class="w-full flex justify-between items-center">
        <h2 class="text-3xl text-black">
          <i class="fa-solid fa-graduation-cap"></i>
          Ecoles
        </h2>
        <div class="h-60">
          <canvas class="text-gray-200" id="sch_chart"></canvas>
        </div>
      </div>
      <div class="flex justify-between gap-6 items-center w-full text-black">
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Total</p>
          <span class="font-bold text-xl">{{sch_count}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Non-vérifiées</p>
          <span class="font-bold text-xl text-lime-300"
            >{{unverified_sch_count}}</span
          >
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Vérifiées</p>
          <span class="font-bold text-xl text-green-500"
            >{{verified_sch_count}}</span
          >
        </article>
      </div>
      <!-- school subscriptions -->
      <div class="w-full flex justify-between items-center">
        <h2 class="my-4 text-lg text-black">
          <i class="fa-solid fa-tags"></i>
          Souscriptions
        </h2>
        <div class="h-60">
          <canvas class="text-gray-200" id="sch_sub_chart"></canvas>
        </div>
      </div>

      <div class="flex justify-between gap-6 items-center w-full text-black">
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Gratuit</p>
          <span class="font-bold text-xl text-lime-300">{{free_sch_subs}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Professionnel</p>
          <span class="font-bold text-xl text-green-500">{{pro_sch_subs}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>V.I.P</p>
          <span class="font-bold text-xl text-teal-600">{{vip_sch_subs}}</span>
        </article>
      </div>
    </a>
    <!-- tutors overview -->
    <a
      href="{% url 'dash_tutors' %}"
      class="px-6 py-10 w-full bg-gray-100 hover:shadow-lg hover:bg-sky-100 mx-auto flex flex-col gap-4 rounded-md group"
    >
      <div class="w-full flex justify-between items-center">
        <p class="text-3xl text-black">
          <i class="fa-solid fa-chalkboard-user"></i>
          Enseignants
        </p>
        <div class="h-60">
          <canvas class="text-gray-200" id="tut_chart"></canvas>
        </div>
      </div>
      <div class="flex justify-between gap-6 items-center w-full text-black">
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Total</p>
          <span class="font-bold text-xl">{{tut_count}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Non-vérifiées</p>
          <span class="font-bold text-xl text-sky-300"
            >{{unverified_tut_count}}</span
          >
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Vérifiées</p>
          <span class="font-bold text-xl text-blue-500"
            >{{verified_tut_count}}</span
          >
        </article>
      </div>

      <!-- tutors subscriptions -->
      <div class="w-full flex justify-between items-center">
        <h2 class="my-4 text-lg text-black">
          <i class="fa-solid fa-tags"></i>
          Souscriptions
        </h2>
        <div class="h-60">
          <canvas class="text-gray-200" id="tut_sub_chart"></canvas>
        </div>
      </div>

      <div class="flex justify-between gap-6 items-center w-full text-black">
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Gratuit</p>
          <span class="font-bold text-xl text-sky-300">{{free_tut_subs}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>Professionnel</p>
          <span class="font-bold text-xl text-blue-500">{{pro_tut_subs}}</span>
        </article>
        <article
          class="p-4 bg-white w-full flex flex-col gap-2 items-center rounded-md"
        >
          <p>V.I.P</p>
          <span class="font-bold text-xl text-indigo-600"
            >{{vip_tut_subs}}</span
          >
        </article>
      </div>
    </a>
  </section>
</div>

<script>
  var ctx = document.getElementById("sch_chart");
  var sch_chart = new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: ["Verifiées", "Non-vérifiées"],
      datasets: [
        {
          label: "Ecoles",
          data: ["{{verified_sch_count}}", "{{unverified_sch_count}}"],
          backgroundColor: ["#22C55E", "#BEF264"],
          borderWidth: 0,
        },
      ],
    },
  });

  var ctx = document.getElementById("sch_sub_chart");
  var sch_sub_chart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: ["Gratuits", "Professionel", "V.I.P"],
      datasets: [
        {
          label: "Souscriptions",
          data: ["{{free_sch_subs}}", "{{pro_sch_subs}}", "{{vip_sch_subs}}"],
          backgroundColor: ["#BEF264", "#22C55E", "#0D9488"],
          borderWidth: 0,
        },
      ],
    },
  });

  var ctx = document.getElementById("tut_chart");
  var tut_chart = new Chart(ctx, {
    type: "doughnut",
    data: {
      labels: ["Verifiées", "Non-vérifiées"],
      datasets: [
        {
          label: "Enseignants",
          data: ["{{verified_tut_count}}", "{{unverified_tut_count}}"],
          backgroundColor: ["#3B82F6", "#7DD3FC"],
          borderWidth: 0,
        },
      ],
    },
  });

  var ctx = document.getElementById("tut_sub_chart");
  var tut_sub_chart = new Chart(ctx, {
    type: "pie",
    data: {
      labels: ["Gratuits", "Professionel", "V.I.P"],
      datasets: [
        {
          label: "Souscriptions",
          data: ["{{free_tut_subs}}", "{{pro_tut_subs}}", "{{vip_tut_subs}}"],
          backgroundColor: ["#7DD3FC", "#3B82F6", "#4F46E5"],
          borderWidth: 0,
        },
      ],
    },
  });
</script>
{% endblock %}
