{% load static %}
<nav class="text-gray-600 py-4">
  <div
    class="px-8 w-full max-w-[1350px] mx-auto lg:flex lg:items-center justify-between"
  >
    <div class="flex items-center justify-between gap-4">
      <a href="{% url 'home' %}">
        <img
          class="w-20 md:hidden"
          src="{% static 'imgs/afdm-icon.png' %}"
          alt="logo"
        />
        <img
          class="md:inline w-40 hidden lg:w-40"
          src="{% static 'imgs/afdm-logo.png' %}"
          alt="logo"
        />
      </a>
      {% include 'components/searchbar.html' %}
      <span class="text-xl cursor-pointer lg:hidden">
        <i name="menu" onclick="toggleMenu(this)" class="fa-solid fa-bars"></i>
      </span>
    </div>
    <div class="hidden lg:flex gap-4 lg:mt-0 items-center" id="navlinks">
      <ul
        class="flex flex-col lg:flex-row gap-4 justify-between menu-list text-sm"
      >
        <a
          href="{% url 'home' %}"
          class="hover:text-green-500 px-3 py-2 my-2 w-full transition ease-in duration-200 flex items-center group {{home_page}}"
          ><i class="lg:hidden xl:inline fa-solid fa-home mr-2 text-xl"></i>
          <span
            class="hidden group-hover:inline transition duration-300 ease-in"
          >
            Accueil
          </span>
        </a>
        <a
          href="{% url 'schools' %}"
          class="hover:text-green-500 px-3 py-2 my-2 w-full transition ease-in duration-200 flex items-center group {{schools_page}}"
          ><i
            class="lg:hidden xl:inline fa-solid fa-graduation-cap mr-2 text-xl"
          ></i>
          <span
            class="hidden group-hover:inline transition duration-300 ease-in"
          >
            Ecoles
          </span>
        </a>
        <a
          href="{% url 'tutors' %}"
          class="hover:text-green-500 px-3 py-2 my-2 w-full transition ease-in duration-200 flex items-center group {{tutors_page}}"
          ><i
            class="lg:hidden xl:inline fa-solid fa-chalkboard-user mr-2 text-xl"
          ></i>
          <span
            class="hidden group-hover:inline transition duration-300 ease-in"
          >
            Enseignants
          </span>
        </a>
        <a
          href="{% url 'adverts' %}"
          class="hover:text-green-500 px-3 py-2 my-2 w-full transition ease-in duration-200 flex items-center group {{tutors_page}}"
          ><i class="lg:hidden xl:inline fa-solid fa-bullhorn mr-2 text-xl"></i>
          <span
            class="hidden group-hover:inline transition duration-300 ease-in"
          >
            Annonces
          </span>
        </a>
        <a
          href="{% url 'forum' %}"
          class="hover:text-green-500 px-3 py-2 my-2 w-full transition ease-in duration-200 flex items-center group {{tutors_page}}"
          ><i class="lg:hidden xl:inline fa-solid fa-comments mr-2 text-xl"></i>
          <span
            class="hidden group-hover:inline transition duration-300 ease-in"
          >
            Forum
          </span>
        </a>
        <!-- <div class="relative py-2 my-2 flex flex-col items-start group">
          <a class="flex items-center hover:text-green-500 cursor-pointer">
            <i class="fa-solid fa-caret-down mr-2"></i>
            Informations
          </a>
          <div
            class="hidden absolute top-10 overlay bg-green-200 p-2 group-hover:flex group-hover:flex-col rounded-md"
          >
            <a
              href="{% url 'pricing' %}"
              class="inline px-2 lg:px-4 py-1 text-sm text-black hover:bg-white rounded-md transition ease-in duration-200 {{pricing_page}}"
              >Tarif</a
            >
            <a
              href="{% url 'blog' %}"
              class="inline px-2 lg:px-4 py-1 text-sm text-black hover:bg-white rounded-md transition ease-in duration-200 {{blog_page}}"
              >Blog</a
            >
          </div>
        </div> -->
      </ul>

      {% if user.is_authenticated %}
      <a
        class="hover:text-green-500 group px-2"
        href="{% url 'chat_page' user.id %}"
      >
        <i
          class="fa-solid fa-message text-xl text-xl ml-6 lg:ml-4 transition ease-in duration-200"
        ></i>
        <span
          class="hidden ml-2 group-hover:inline transition duration-300 ease-in"
        >
          Messages
        </span>
      </a>
      <!-- notification dropdown -->
      <div class="relative px-2">
        <button
          type="button"
          class="group hover:text-green-500"
          name="bellBtn"
          id="bellBtn"
          aria-expanded="false"
          aria-haspopup="true"
          onclick="toggleNotifier(this)"
        >
          <i
            class="fa-solid fa-bell text-xl text-xl ml-6 lg:ml-4 transition ease-in duration-200"
          ></i>
          <span
            class="hidden ml-2 group-hover:inline transition duration-300 ease-in"
          >
            Notifications
          </span>
        </button>
        <!-- {% if notifications %}
        <span
          id="notifier"
          class="absolute top-1 right-11 h-2 w-2 rounded-full bg-green-500 animate-pulse"
        >
          <tt id="count_badge"></tt>
        </span>
        {% endif %} -->
        <!-- notification button -->
        <div
          class="absolute lef-0 lg:right-0 top-10 origin-top-left z-50 p-6 bg-blue-950 w-[400px] min-h-[400px] max-h-[800px] shadow-lg hidden rounded-lg flex flex-col"
          tabindex="-1"
          id="notifications"
        >
          {% if not notifications %}
          <!--  -->

          <div class="py-20 flex-col text-center text-white m-auto w-full">
            <i class="fa-solid fa-folder"></i>
            <p class="p-2 max-w-[400px] mx-auto">
              Aucune données disponible pour le moment
            </p>
          </div>

          <!--  -->
          {% else %}
          <!--  -->
          {% for obj in notifications %}
          <div
            class="contact-li p-2 w-full bg-white hover:bg-gray-200 rounded-md"
          >
            <form
              action="{% url 'read_chat_notification' obj.id %}"
              method="POST"
            >
              {% csrf_token %}
              <button
                type="submit"
                class="flex gap-2 w-full justify-between items-center"
              >
                <img
                  class="lg:block h-10 rounded-md mx-auto"
                  src="{% static 'imgs/random.png' %}"
                  alt="Rounded avatar"
                />
                <div class="flex flex-col items-start w-full">
                  <p class="text-blabg-black font-bold">
                    {% for user_obj in users %}
                    <!--  -->
                    {% if user_obj.id == obj.chat.sender %}
                    <!--  -->
                    <span class="text-black text-sm">
                      @{{user_obj.username}}
                    </span>
                    <!--  -->
                    {% endif %}
                    <!--  -->
                    {% endfor %}
                  </p>
                  <p>{{obj.chat.message|truncatechars:20}}</p>
                </div>
              </button>
            </form>
          </div>
          {% endfor %}
          <!--  -->
          {% endif %}
        </div>
      </div>
      <!-- menu dropdown -->
      <div class="relative lg:ml-4">
        <button
          type="button"
          class=""
          name="dropdownBtn"
          id="dropdownBtn"
          aria-expanded="false"
          aria-haspopup="true"
          onclick="toggleDropdown(this)"
        >
          <img
            class="hidden ml-4 lg:block lg:h-6 rounded-full ring-4 ring-offset-2 ring-gray-300 hover:ring-green-400"
            src="{% static 'imgs/avatar.png' %}"
            alt="image"
          />
        </button>

        <div
          class="absolute lef-0 lg:right-0 top-10 origin-top-left z-30 my-2 p-2 bg-green-200 w-[200px] shadow-lg hidden rounded-lg flex flex-col"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
          id="dropdownMenu"
        >
          <a
            href="{% url 'user_profile' user.id  %}"
            class="inline px-2 lg:px-4 py-2 text-sm text-gray-700 hover:bg-white rounded-md"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-0"
            ><i class="fa-solid fa-user mr-2"></i>Mon profile</a
          >
          {% if user.is_superuser %}
          <a
            class="inline px-2 lg:px-4 py-2 text-sm text-gray-700 hover:bg-white rounded-md"
            href="{% url 'admin:index' %}"
            ><i class="fa-solid fa-lock mr-2"></i>Super Admin</a
          >
          {% endif %}
          <!--  -->
          {% if user.is_staff %}
          <a
            href="{% url 'dashboard' %}"
            class="inline px-2 lg:px-4 py-2 text-sm text-gray-700 hover:bg-white rounded-md"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-1"
            ><i class="fa-solid fa-bars-progress mr-2"></i>Tableau de bord</a
          >
          {% endif %}

          <a
            href="{% url 'logout' %}"
            class="inline px-2 lg:px-4 py-2 text-sm text-red-700 hover:bg-red-700 hover:text-white rounded-md"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-2"
            ><i class="fa-solid fa-right-from-bracket mr-2"></i>Déconnexion</a
          >
        </div>
      </div>
      {% else %}
      <a
        class="lg:ml-4 px-4 py-2 rounded-lg border border-2 border-white bg-blue-950 hover:bg-green-300 text-white hover:text-black transition ease-in duration-200"
        href="{% url 'login' %}"
        >Connexion</a
      >
      {% endif %}
    </div>
  </div>
</nav>
