{% load static %}
<!--------------------------------------- levels --------------------------------------->

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
  {% for obj in levels %}
  <a href="{% url 'schools' %}?query={{obj.name}}">
    <div
      class="relative py-8 flex flex-col bg-white hover:shadow-md rounded-md hover:bg-blue-950 group transition duration-300 ease-in-out"
    >
      <span
        class="absolute top-4 right-0 p-2 w-20 bg-green-200 rounded-l-md text-center text-black font-bold text-sm"
      >
        {% if obj.id == 1 %}
        <!--  -->
        {{ creche_count }}
        <!--  -->
        {% elif obj.id == 2 %}
        <!--  -->
        {{ kinder_count }}
        <!--  -->
        {% elif obj.id == 3 %}
        <!--  -->
        {{ prime_count }}
        <!--  -->
        {% elif obj.id == 4 %}
        <!--  -->
        {{ sec_count }}
        <!--  -->
        {% elif obj.id == 5 %}
        <!--  -->
        {{ uni_count }}
        <!--  -->
        {% elif obj.id == 6 %}
        <!--  -->
        {{ edu_count }}
        <!--  -->
        {% else %}
        <!--  -->
        {{ pro_count }}
        <!--  -->
        {% endif %}
      </span>
      <div class="p-4 rounded-full bg-white mx-auto">
        {% if obj.image %}
        <img
          class="h-20 object-cover"
          src="{{obj.image.url}}"
          alt="{{level.name}} image"
        />
        {% else %}
        <img
          class="h-20 object-contain"
          src="{% static 'icons/sch_col.png' %}"
          alt="{{level.name}} image"
        />
        {% endif %}
      </div>
      <h4
        class="mt-4 text-indigo-900 text-sm text-center font-bold group-hover:text-white"
      >
        {{obj.name}}
      </h4>
    </div> </a
  >{% endfor %}
</div>
