<form
  id="search_box"
  class="w-[400px] text-sm max-w-xl flex flex-row justify-between"
>
  <input
    type="text"
    name="query"
    id="querier"
    required
    class="px-4 py-1 border-2 border-r-0 focus:border-blue-950 text-black w-full rounded-l-md outline-none"
    placeholder="Recherchez..."
  />
  <button
    class="group px-4 py-2 bg-blue-950 hover:bg-green-300 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
    type="submit"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</form>
