{% load static %}
<!--------------------------------------- rec_posts --------------------------------------->
<section
  id="rec_posts"
  class="px-8 py-10 w-full max-w-[1350px] mx-auto bg-white w-full text-left"
>
  <div class="w-full my-2 flex justify-between items-center">
    <h3 class="text-3xl text-black font-bold">Articles récents</h3>
    <a
      class="hidden md:inline text-black px-4 py-2 rounded-md group"
      href="{% url 'blog' %}"
      ><i
        class="fa-solid fa-arrow-up text-lg group-hover:rotate-90 transition duration-300 ease-in-out"
      ></i>
    </a>
  </div>

  <p class="my-4 w-full max-w-lg text-lg">
    Explorez des perspectives éducatives captivantes grâce à nos articles
    récents. Apprenez, grandissez et évoluez avec nous.
  </p>

  {% if not rec_posts %}
  <div class="py-20 flex-col text-center m-auto w-full">
    <i class="fa-solid fa-folder"></i>
    <p class="p-2 max-w-[400px] mx-auto">
      Aucun article disponible pour le moment!!!
    </p>
  </div>
  {% else %}

  <div class="fadeout grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
    {% for item in rec_posts %}
    <div
      class="relative flex flex-col bg-gray-100 hover:shadow-md hover:bg-white rounded-md transition duration-300 ease-in-out overflow-hidden group"
    >
      {% if user.role.sec_level >= 6 %}
      <a
        class="absolute top-4 right-4 px-3 py-2 bg-blue-50 hover:bg-blue-200 z-30 text-black rounded-full transition duration-300 ease-in-out"
        href="{% url 'edit_blogpost' item.id %}"
        ><i class="fa-solid fa-pen-to-square text-sm"></i
      ></a>
      {% endif %}
      <a href="{% url 'blogpost' item.id  %}">
        <div class="text-center">
          {% if item.image %}
          <img
            class="h-20 w-full object-cover"
            src="{{obj.image.url}}"
            alt="blogpost image"
          />
          {% else %}
          <img
            class="h-20 w-full object-cover"
            src="{% static 'vectors/article.png' %}"
            alt="blogpost image"
          />
          {% endif %}
        </div>
        <div class="p-4 flex flex-col justify-between">
          <h4 class="text-black text-lg font-bold">
            {{item.title|truncatechars:30}}
          </h4>
          <p class="py-2 text-gray-700">
            {{item.content|safe|truncatechars:50}}
          </p>
        </div>
      </a>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</section>
