{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mb-2 mx-auto py-2 flex gap-4 items-center text-xs w-full max-w-[1350px]"
  >
    <a
      class="hover:text-green-400 transition ease-in duration-300"
      href="{% url 'home' %}"
      ><i class="fa-solid fa-house"></i>
    </a>
    /
    <a
      class="hover:text-green-400 transition ease-in duration-300"
      href="{% url 'adverts' %}"
      >Annonces
    </a>
    / {% if curr_ad %}
    <span class="text-blue-950 font-bold">{{curr_ad.title}}</span>
    {% else %}
    <span class="text-blue-950 font-bold">Nouvel Annonce</span>
    {% endif %}
  </nav>
  {% if not form %}

  <!--------------------------------------- hero section --------------------------------------->
  <p class="mb-4 w-full max-w-lg text-lg">
    Connectez-vous avec des parents en quête d'excellence éducative. Trouvez des
    écoles et des enseignants privés de confiance.
  </p>

  <div class="mt-4 p-4 lg:p-10 mx-auto border-2 w-full rounded-md">
    <article class="flex flex-col md:flex-row text-left gap-8 items-center">
      <i
        class="mb-2 fa-solid fa-bullhorn text-gray-300 text-9xl group-hover:text-green-400"
      ></i>
      <div class="flex flex-col">
        <h4 class="text-black text-xl font-bold">{{curr_ad.title}}</h4>
        <p class="py-2 text-md">{{curr_ad.message}}</p>
        <div class="flex gap-4 w-full">
          {% if curr_ad.author == user %}
          <a
            href="{% url 'edit_advert' curr_ad.id %}"
            class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-red-700"
            ><i class="fa-solid fa-pen-to-square"></i
          ></a>
          {% endif %}
          <a
            href="#schools"
            class="mt-4 px-4 py-2 rounded-md flex justify-between items-center bg-sky-100 hover:bg-sky-300 text-black"
            >Contacter<i class="fa-solid fa-message ml-2"></i
          ></a>
        </div>
      </div>
    </article>
  </div>

  <!--------------------------------------- advert form --------------------------------------->

  {% else %}
  <p class="mb-4 w-full max-w-lg text-lg">
    Partagez vos besoins éducatifs avec notre communauté. Ajoutez une annonce et
    trouvez l'école ou l'enseignant idéal.
  </p>

  <div class="mx-auto rounded grid md:grid-cols-2 gap-8">
    <article class="p-8 bg-gray-100 rounded-md">
      {% if curr_ad %}
      <h3 class="mb-4 text-black text-2xl font-bold">
        Modifier Cette {{curr_ad.get_type_display|title}}
      </h3>
      {% else %}
      <h3 class="mb-4 text-black text-2xl font-bold">
        Ajouter Une Offre / Demande
      </h3>
      {% endif %}

      <div class="mx-auto w-full rounded-md">
        <form
          class="w-full"
          method="POST"
          action=""
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% for field in form %}
          <div>
            <h3 class="mb-1 text-black font-bold">{{field.label}}</h3>
            {{field}}
          </div>
          {% endfor %}
          <div class="mt-4 flex gap-4 items-end">
            <input
              class="px-4 py-2 bg-blue-950 hover:bg-green-300 text-white hover:text-black rounded-md cursor-pointer"
              type="submit"
              value="Enregistrer"
            />
            <a
              class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
              href="{{request.META.HTTP_REFERER}}"
            >
              Annuler
            </a>
          </div>
        </form>
      </div>
    </article>
    <img
      class="w-full h-full rounded-md object-cover"
      src="{% static 'imgs/handshake.jpg' %}"
      alt="curr_ad image"
    />
  </div>
  {%endif%}
</div>

{% endblock %}
