{% extends 'main.html' %} {% load static %} {% block content %}
<div class="pb-8 px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mx-auto mb-4 w-full flex justify-between items-center gap-4 items-center text-xs"
  >
    <div class="flex gap-4 items-center">
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'home' %}"
        ><i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'forum' %}"
        >Forum</a
      >
      / {% if curr_article %}
      <span class="hidden md:inline text-blue-950 font-black"
        >{{curr_article.title}}</span
      >
      {% else %}
      <span class="hidden md:inline text-blue-950 font-black"
        >Nouvel Article</span
      >
      {% endif %}
    </div>
  </nav>

  {% if not form %}
  <!--------------------------------------- forum article layout --------------------------------------->

  <div class="flex flex-col lg:flex-row justify-between items-start gap-8">
    <!--------------------- current forum article -------------------------->

    <div class="relative flex flex-col w-full overflow-hidden">
      {% if curr_article.author == user %}
      <a
        class="absolute top-4 right-4 px-3 py-2 bg-gray-300 hover:bg-white z-30 rounded-full transition duration-300 ease-in-out"
        href="{% url 'edit_forum_article' curr_article.id %}"
        ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
      ></a>
      {% endif %}
      <!--  -->
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{% static 'imgs/forum.webp' %}"
        alt="image"
      />
      <h4 class="mt-4 text-black text-3xl font-bold">{{curr_article.title}}</h4>
      <!-- <p class="py-2 text-md">{{curr_article.subtitle}}</p> -->
      <!-- <div class="mt-4 p-6 border-2 flex flex-col justify-between rounded-md"> -->
      <p class="mt-2 text-lg">{{curr_article.content}}</p>
      <!-- </div> -->
    </div>

    <!--------------------------------------- other forum articles --------------------------------------->

    <div class="p-4 h-[400px] w-full lg:w-[400px] bg-gray-100 rounded-md">
      <h3 class="mb-2 mx-auto text-gray-700 text-2xl font-black">
        Articles connexes
      </h3>
      <div
        class="flex flex-col md:grid grid-cols-2 lg:grid-cols-1 justify-between gap-8 w-full"
      >
        {% for obj in rel_articles %}
        <div
          class="relative w-full flex flex-col border border-2 bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          <a href="{% url 'forum_article' obj.id  %}">
            <img
              class="relative h-20 w-full object-cover"
              src="{% static 'imgs/forum.webp' %}"
              alt="forum article image"
            />
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-blue-950 font-bold">
                {{obj.title|truncatechars:30}}
              </h4>
              <p class="py-2 text-sm">{{obj.content|truncatechars:100}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {% else %}

  <div
    class="p-8 bg-blue-950 rounded-md w-full flex flex-col md:flex-row gap-4 items-center"
  >
    <p class="my-4 w-full text-lg text-white">
      Partagez vos connaissances et perspectives éducatives. Contribuez au
      savoir collectif en ajoutant un article à notre blog.
    </p>
    <img
      class="w-full h-[300px] rounded-md object-contain"
      src="{% static 'vectors/forum.png' %}"
      alt="image"
    />
  </div>

  <div class="mt-8 mx-auto lg:flex flex-row gap-8">
    <article class="p-8 border-2 hover:border-blue-950 rounded-md">
      {% if curr_ad %}
      <h3 class="mb-4 text-black text-2xl font-bold">Modifier Cet Article</h3>
      {% else %}
      <h3 class="mb-4 text-black text-2xl font-bold">Ajouter Un Article</h3>
      {% endif %}

      <div class="mx-auto w-full rounded-md">
        <form
          class="w-full"
          method="POST"
          action=""
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{form.media}} {{form.as_p}}
          <div class="mt-4 flex gap-4 items-end">
            <a
              class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
              href="{{request.META.HTTP_REFERER}}"
            >
              Annuler
            </a>

            <input
              class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
              type="submit"
              value="Enregistrer"
            />
          </div>
        </form>
      </div>
    </article>
    <img
      class="hidden lg:inline w-80 h-80 rounded-md object-cover"
      src="{% static 'vectors/forum.png' %}"
      alt="curr_ad image"
    />
  </div>
  {%endif%}
</div>

{% endblock %}
