{% extends 'main.html' %} {% load static %} {% block content %}
<!--------------------------------------- hero section --------------------------------------->

<section class="py- bg-[url('{% static 'imgs/sch-.jpg' %}')]">
  <div class="px-8 flex gap-4 justify-between w-full max-w-[1350px] mx-auto">
    <!--------------------------------------- levels --------------------------------------->
    <div class="flex flex-col gap-2 w-60">
      {% for obj in levels %}
      <a
        href="{% url 'schools' %}?query={{obj.name}}"
        class="px-4 py-3 flex items-center gap-4 rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-blue-200 hover:text-black transition duration-300 ease-in-out"
      >
        <img
          class="h-7 xl:h-10 object-contain"
          src="{{obj.image.url}}"
          alt="image"
        />
        {{obj.name}}
      </a>
      <!--  -->
      {% endfor %}
    </div>

    <img
      class="hidden md:inline w-full md:max-w-[400px] lg:max-w-[800px] xl:max-w-[860px] rounded-md object-cover"
      src="{% static 'imgs/sch-1.jpg' %}"
      alt="image"
    />
    <!-- <article
      class="mb-2 mx-auto w-full max-w-[500px] flex flex-col items-center text-center"
    >
      <h1 class="mb-4 text-3xl font-light">
        Trouvez
        <span class="text-blue-950 font-black"> l'institut idéal </span>
        pour vos études et formations.
      </h1>
      <p>
        Donnez à vos enfants un avenir brillant en choisissant parmi notre
        sélection d'écoles et d'enseignants particuliers hautement qualifiés, le
        tout à portée de main.
      </p>
    </article> -->
    <!--------------------------------------- subjects --------------------------------------->
    <div class="flex flex-col gap-2 w-60">
      {% for obj in subjects %}
      <!--  -->
      <a
        href="{% url 'tutors' %}?query={{obj.name}}"
        class="px-4 py-2 flex justify-end items-center gap-4 rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-green-200 hover:text-black transition duration-300 ease-in-out"
      >
        {{obj.name}}
        <img
          class="h-7 xl:h-10 object-contain"
          src="{{obj.image.url}}"
          alt="image"
        />
      </a>
      <!--  -->
      {% endfor %}
    </div>
  </div>
</section>
<!--------------------------------------- clients [schools that have registered] --------------------------------------->

<!-- <div class="py-10 bg-gray-50 w-full text-center">
  <p class="mx-auto text-gray-400 text-md font-thin">
    Ils nous fonts confiance:
  </p>
</div> -->

<!--------------------------------------- featured schools --------------------------------------->
{% include 'components/top_schools.html' %}

<!--------------------------------------- why us ? --------------------------------------->

<section class="py-40 bg-sky-300 w-full text-left">
  <div class="px-8 max-w-[1350px] mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <ul>
        <h3 class="mb-2 mx-auto text-4xl text-black font-bold">
          Pourquoi Afridemia?
        </h3>
        <li class="py-2 text-gray-800">
          <h4 class="text-xl font-bold text-black">
            <i class="fa-regular fa-circle-check mr-2 text-2xl"></i>
            Potentiel maximisé
          </h4>
          <p>
            Éveillez le potentiel de vos enfants en les inscrivant dans des
            écoles de qualité et en les accompagnant avec des enseignants
            particuliers dévoués, grâce à notre application innovante.
          </p>
        </li>
        <li class="py-2 text-gray-800">
          <h4 class="text-xl font-bold text-black">
            <i class="fa-regular fa-circle-check mr-2 text-2xl"></i>Education
            sur mesure
          </h4>
          <p>
            Du sur-mesure pour l'avenir de vos enfants : découvrez un
            assortiment d'écoles exceptionnelles et de tuteurs expérimentés via
            notre plateforme intuitive.
          </p>
        </li>
        <li class="py-2 text-gray-800">
          <h4 class="text-xl font-bold text-black">
            <i class="fa-regular fa-circle-check mr-2 text-2xl"></i>Suivi bien
            appliqué
          </h4>
          <p>
            Créez un parcours éducatif unique pour vos enfants grâce à notre
            application révolutionnaire, reliant parents, écoles et enseignants
            particuliers en un seul endroit.
          </p>
        </li>
        <li class="py-2 text-gray-800">
          <h4 class="text-xl font-bold text-black">
            <i class="fa-regular fa-circle-check mr-2 text-2xl"></i>Embarras du
            choix
          </h4>
          <p>
            Investissez dans l'éducation de vos enfants de manière intelligente.
            Parcourez notre sélection d'écoles et de professeurs particuliers
            pour un apprentissage personnalisé.
          </p>
        </li>
      </ul>
      <img
        class="h-full rounded-md object-cover"
        src="{% static 'imgs/graduation.jpg' %}"
        alt="welcome image"
      />
    </div>
  </div>
</section>
<!--------------------------------------- featured tutors --------------------------------------->
{% include 'components/top_tutors.html' %}

<!--------------------------------------- latest adverts --------------------------------------->

{% include 'components/top_ads.html' %}

<!--------------------------------------- explore --------------------------------------->

<div class="bg-green-200 py-40 w-full">
  <div class="p-8 mx-auto max-w-[1350px] flex flex-col">
    <article class="mb-8">
      <h4 class="mb-2 text-3xl text-black font-bold">
        Le hub academique d'afrique
      </h4>
      <p class="w-full max-w-lg text-lg">
        Explorez un monde de connaissances regroupées en un seul endroit -
        l'avenir de l'Afrique se construit ici, dans chaque discipline.
      </p>
    </article>

    {% include 'components/levels.html' %}
  </div>
</div>
<!--------------------------------------- latest blogposts --------------------------------------->

{% include 'components/top_posts.html' %}

<!---------------------------------------------  CTA --------------------------------------------->
<!----------------------- newsletter ------------------------->
<div
  class="px-8 py-20 w-full max-w-xl mx-auto flex flex-col items-center bg-gray-100 rounded"
>
  <h2 class="text-2xl text-black font-bold mb-4 text-center mx-auto">
    Inscrivez vous à notre Newsletter
  </h2>
  <p class="mb-4 w-full max-w-xl mx-auto text-center">
    Recevez l'inspiration directement dans votre boîte de réception.
    Abonnez-vous à notre newsletter et restez connecté à un monde
    d'apprentissage en constante évolution.
  </p>
  <form
    id="search_box"
    class="p-1 w-full max-w-lg flex flex-row justify-between"
  >
    <input
      type="text"
      name="query"
      id="querier"
      required
      class="px-4 py-2 bg-white text-black text-xs w-full rounded-l-md outline-none"
      placeholder="Votre adresse e-mail..."
    />
    <button
      class="group px-4 py-2 text-sm bg-blue-950 hover:bg-green-300 text-white hover:text-black rounded-r-md transition duration-300 ease-in-out"
      type="submit"
    >
      S'inscrire
    </button>
  </form>
</div>

<!----------------------- contact ------------------------->

<section class="bg-white py-8">
  <div class="container max-w-6xl mx-auto m-8 px-8">
    <h2
      class="w-full my-2 text-4xl font-bold leading-tight text-center text-black"
    >
      Nous rejoindre
    </h2>
    <p class="text-center mt-4">
      Afridemia vise à être un carrefour de l'éducation, reliant les écoles et
      les enseignants de manière efficace et transparente. Que vous soyez à la
      recherche d'une école de qualité pour votre enfant ou d'une opportunité
      d'enseignement enrichissante, Afridemia est là pour vous offrir une
      expérience fluide et personnalisée.
    </p>
    <div class="grid mt-10 gap-8 bg-green-100 rounded-md">
      <div class="text-center mt-12 mb-12">
        <h3 style="font-size: 18px; padding: 31px">
          N'hésitez pas à nous contacter pour toute question ou suggestion. Nous
          sommes impatients de partager cette aventure littéraire avec vous !
        </h3>

        <button
          class="bg-blue-950 hover:bg-green-600 text-white py-2 px-4 rounded"
        >
          Contactez nous
        </button>
      </div>
    </div>
  </div>
</section>

{% endblock %}
