{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav class="mx-auto mb-4 w-full flex flex-col gap-4 items-center text-xs">
    <div class="flex justify-between items-center gap-4 w-full">
      <div class="flex gap-4">
        <a
          class="hover:text-green-300 transition ease-in duration-300"
          href="{% url 'home' %}"
          ><i class="fa-solid fa-house"></i>
        </a>
        /
        <a
          class="hover:text-green-400 transition ease-in duration-300"
          href="{% url 'tutors' %}"
          >Enseignants</a
        >
      </div>
      {% if is_tutor == False %}
      <a
        href="{% url 'create_tutor' %}"
        class="px-4 py-3 bg-green-100 text-black hover:bg-green-300 rounded-md transition duration-300 ease-in-out"
        >Nouveau Profil<i class="fa-solid fa-plus ml-2"></i
      ></a>
      {% endif %}
    </div>

    <div
      class="p-8 bg-blue-950 rounded-md w-full flex flex-col md:flex-row gap-4 items-center"
    >
      <p class="my-4 w-full text-lg text-white">
        Donnez vie à l'apprentissage avec nos enseignants dévoués. Rencontrez
        des guides passionnés pour votre parcours éducatif.
      </p>
      <img
        class="w-full h-[300px] rounded-md object-cover"
        src="{% static 'images/4.png' %}"
        alt="image"
      />
    </div>

    <!--------------------------------------- subjects --------------------------------------->
    <div class="my-4 mx-auto flex flex-wrap gap-2">
      {% for obj in subjects %}
      <!--  -->
      <a
        href="{% url 'tutors' %}?query={{obj.name}}"
        class="px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      >
        <span class="hidden group-hover:inline transition duration-300 ease-in">
          {{obj.name}}
        </span>
        <img class="h-10 object-contain" src="{{obj.image.url}}" alt="image" />
      </a>
      <!--  -->
      {% endfor %}
    </div>
  </nav>

  <!--------------------------------------- tutors --------------------------------------->
  <section id="tutors" class="mb-8 w-full text-left">
    <div class="w-full mx-auto">
      {% if not tutors %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        {% for obj in tutors %}
        <div
          class="flex flex-col bg-green-100 hover:bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          <a href="{% url 'tutor' obj.id  %}">
            <div class="w-full max-h-40 overflow-hidden">
              {% if not obj.image %}
              <img
                class="w-full h-40 max-h-40 object-cover transition duration-500 group-hover:scale-110"
                src="{% static 'vectors/classroom.png' %}"
                alt="image"
              />
              {% else %}
              <img
                class="w-full h-40 max-h-40 object-cover transition duration-500 group-hover:scale-110"
                src="{{obj.image.url}}"
                alt="image"
              />
              {% endif %}
            </div>
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-black text-md font-bold">
                {{obj.title}} {{obj.user.last_name}} {{obj.user.first_name}}
              </h4>
              <p class="py-2 text-sm text-gray-800">
                {{obj.bio|truncatechars:40}}
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}
