{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mx-auto mb-4 w-full flex justify-between items-center gap-4 items-center text-xs"
  >
    <div class="flex items-center gap-4">
      <a
        class="hover:text-green-300 transition ease-in duration-300"
        href="{% url 'home' %}"
        ><i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'tutors' %}"
        >Enseignants</a
      >
      / {% if curr_obj %}
      <span class="text-black font-black"
        >{{curr_obj.user.last_name}} {{curr_obj.user.first_name}}</span
      >
      {% else %}
      <span class="text-black font-black"
        >Créer un nouveau profil d'enseignant
      </span>
      {% endif %}
    </div>
    {% if user == curr_obj.user %}
    <a
      href="{% url 'edit_tutor' curr_obj.id %}"
      class="px-4 py-2 bg-black text-white hover:bg-green-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      >Modifier mon profile d'enseignant<i
        class="fa-solid fa-pen-to-square ml-4"
      ></i
    ></a>
    {% endif %}
  </nav>

  {% if not form %}
  <!--------------------------------------- tutor layout --------------------------------------->
  <section class="mt-4 mb-8 flex flex-col lg:flex-row gap-4 w-full">
    {% if not curr_obj.image %}
    <img
      class="h-80 w-full lg:max-w-[400px] border border-2 rounded-md object-cover"
      src="{% static 'vectors/classroom.png' %}"
      alt="image"
    />
    {% else %}
    <img
      class="h-80 w-full lg:max-w-[400px] border border-2 rounded-md object-cover"
      src="{{curr_obj.image.url}}"
      alt="image"
    />
    {% endif %}
    <!--  -->
    <div
      class="w-full bg-blue-950 text-gray-200 text-md p-6 xl:p-8 rounded-md flex flex-col"
    >
      <h4 class="text-white text-xl font-bold flex items-center">
        {{curr_obj.civility}} {{curr_obj.user.last_name}}
        {{curr_obj.user.first_name}}
        <img class="mx-2 h-4" src="{{curr_obj.country.flag}}" />
        ({{curr_obj.country}})
      </h4>

      <p class="py-2 text-lg">{{curr_obj.bio}}</p>

      <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="mb-2 text-white text-lg font-bold">Contacts</h4>
          <div class="py-2 flex flex-wrap gap-4 items-center">
            {% if user == curr_obj.user %}
            <a
              href="{% url 'edit_tutor' curr_obj.id %}"
              class="px-4 py-2 rounded-md flex justify-between items-center bg-green-100 hover:bg-green-300 text-black"
              >Modifier<i class="fa-solid fa-pen-to-square ml-2"></i
            ></a>
            {% else %}
            <a
              href="{% url 'chat_page' curr_obj.user.id %}"
              class="px-4 py-2 rounded-md flex justify-between items-center bg-green-100 hover:bg-green-300 text-black"
              >Contacter<i class="fa-solid fa-message ml-2"></i
            ></a>
            {% endif %}
            <a
              href="tel:{{curr_obj.cel}}"
              target="_blank"
              class="rounded-full bg-transparent hover:text-cyan-300"
            >
              <i class="fa-solid fa-mobile text-2xl"></i>
            </a>
            <a
              href="{{curr_obj.facebook_link}}"
              target="_blank"
              class="hover:text-cyan-300"
            >
              <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
            <a
              href="{{curr_obj.linkedin_link}}"
              target="_blank"
              class="hover:text-cyan-300"
            >
              <i class="fa-brands fa-linkedin-in text-2xl"></i>
            </a>
          </div>
        </div>
        <div>
          <h4 class="mb-2 text-white text-lg font-bold">Diplomes</h4>
          <p class="text-sm">{{curr_obj.qualifications}}</p>
          <h5 class="text-cyan-300 text-md">
            {{curr_obj.experience}} an(s) d'experience
          </h5>
        </div>
      </div>
    </div>
    <!--  -->
  </section>
  <!--------------------------------------- more info --------------------------------------->
  <section class="mt-4 mb-8 flex flex-col md:flex-row gap-4 w-full">
    <div
      class="p-6 bg-blue-50 w-full lg:max-w-[400px] rounded-md flex flex-col justify-"
    >
      <h4 class="text-black text-xl font-bold">Matieres</h4>
      <p class="py-1">{{curr_obj.subjects}}</p>
      <h4 class="text-black text-xl font-bold">Classes</h4>
      <p class="py-1">{{curr_obj.grades}}</p>
    </div>
    <div class="w-full rounded-md">
      <div class="flex justify-between">
        <h4 class="text-black text-xl mb-4 font-bold">
          Articles postés dans le forum
        </h4>
        {% if user == curr_obj.user %}
        <a
          href="{% url 'create_forum_article' %}"
          class="px-4 py-2 rounded-md flex justify-between items-center bg-green-100 hover:bg-green-300 text-black"
          ><i class="fa-solid fa-plus"></i
        ></a>
        {% endif %}
      </div>

      {% if not rel_articles %}
      <!--  -->
      {% include 'components/no_data.html' %}
      <!--  -->
      {% else %}

      <div class="w-full">
        {% for obj in rel_articles %}
        <div
          class="relative bg-green-100 hover:bg-white hover:shadow-lg rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          {% if obj.author == user or user.is_superuser %}
          <a
            class="absolute top-4 right-4 px-3 py-2 hover:bg-sky-300 z-30 rounded-full transition duration-300 ease-in-out"
            href="{% url 'edit_forum_article' obj.id %}"
            ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
          ></a>
          {% endif %}
          <a href="{% url 'forum_article' obj.id  %}" class="flex">
            <img
              class="w-40 object-cover"
              src="{% static 'imgs/forum.webp' %}"
              alt="article image"
            />
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-black text-2xl font-bold">{{obj.title}}</h4>
              <p class="pt-2 text-sm">{{obj.content|truncatechars:300}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
  {% else %}
  <section class="w-full mx-auto rounded-md">
    <div
      class="p-8 bg-blue-950 rounded-md w-full flex flex-col md:flex-row gap-4 items-center"
    >
      <p class="my-4 w-full text-lg text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sint
        inventore fugiat eum vel. Accusamus excepturi eos harum at quidem
        perspiciatis vitae, doloremque voluptate sunt ad fugit beatae repellat!
        Suscipit.
      </p>
      <img
        class="w-full h-[300px] rounded-md object-cover"
        src="{% static 'images/4.png' %}"
        alt="image"
      />
    </div>

    <form
      class="w-full p-8 my-8 border-2 hover:border-blue-950 rounded-md"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-8 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.last_name.label}}</h3>
          {{form.last_name}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.first_name.label}}</h3>
          {{form.first_name}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.civility.label}}</h3>
          {{form.civility}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.title.label}}</h3>
          {{form.title}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.country.label}}</h3>
          {{form.country}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.phone.label}}</h3>
          {{form.phone}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.subjects.label}}</h3>
          {{form.subjects}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.levels.label}}</h3>
          {{form.levels}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.qualification.label}}
          </h3>
          {{form.qualification}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.experience.label}}</h3>
          {{form.experience}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.facebook_link.label}}
          </h3>
          {{form.facebook_link}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.linkedin_link.label}}
          </h3>
          {{form.linkedin_link}}
        </div>
      </div>
      <div>
        <h3 class="mb-1 text-black font-bold">{{form.bio.label}}</h3>
        {{form.bio}}
      </div>
      <div class="my-4 flex gap-4 items-end">
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>

        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
      </div>
    </form>
  </section>
  {% endif %}
</div>

{% endblock %}
