{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mx-auto py-2 flex justify-between items-center gap-4 items-center text-xs w-full max-w-[1350px]"
  >
    <div class="flex items-center gap-4">
      <a
        class="hover:text-green-300 transition ease-in duration-300"
        href="{% url 'home' %}"
        ><i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'tutors' %}"
        >Enseignants</a
      >
      /
      <span class="text-black font-black"
        >{{curr_tut.user.last_name}} {{curr_tut.user.first_name}}</span
      >
    </div>
    {% if user == curr_tut.user %}
    <a
      href="{% url 'edit_tutor' curr_tut.id %}"
      class="px-4 py-2 bg-black text-white hover:bg-green-400 hover:text-black rounded-md flex justify-between items-center transition duration-300 ease-in-out"
      >Modifier mon profile d'enseignant<i
        class="fa-solid fa-pen-to-square ml-4"
      ></i
    ></a>
    {% endif %}
  </nav>

  {% if not form %}
  <!--------------------------------------- tutor layout --------------------------------------->
  <section class="mt-4 flex flex-col lg:flex-row gap-4 w-full">
    {% if not curr_tut.image %}
    <img
      class="h-80 w-full lg:max-w-[400px] border border-2 rounded-md object-cover"
      src="{% static 'imgs/tutor.jpg' %}"
      alt="tutor image"
    />
    {% else %}
    <img
      class="h-80 w-full lg:max-w-[400px] border border-2 rounded-md object-cover"
      src="{{curr_tut.image.url}}"
      alt="tutor image"
    />
    {% endif %}
    <!--  -->
    <div
      class="w-full bg-blue-950 text-gray-200 text-md p-6 xl:p-8 rounded-md flex flex-col"
    >
      <h4 class="text-white text-xl font-bold flex items-center">
        {{curr_tut.civility}} {{curr_tut.user.last_name}}
        {{curr_tut.user.first_name}}
        <img class="mx-2 h-4" src="{{curr_tut.country.flag}}" />
        ({{curr_tut.country}})
      </h4>

      <p class="py-2 text-lg">{{curr_tut.bio}}</p>

      <div class="flex flex-col md:flex-row justify-between gap-4">
        <div class="flex flex-col">
          <h4 class="mb-2 text-white text-lg font-bold">Contacts</h4>
          <div class="py-2 flex flex-wrap gap-4 items-center">
            <a
              href="#schools"
              class="px-4 py-2 rounded-md flex justify-between items-center bg-green-100 hover:bg-green-300 text-black"
              >Contacter<i class="fa-solid fa-message ml-2"></i
            ></a>
            <a
              href="tel:{{curr_tut.cel}}"
              target="_blank"
              class="rounded-full bg-transparent hover:text-cyan-300"
            >
              <i class="fa-solid fa-mobile text-2xl"></i>
            </a>
            <a
              href="{{curr_tut.facebook_link}}"
              target="_blank"
              class="hover:text-cyan-300"
            >
              <i class="fa-brands fa-facebook text-2xl"></i>
            </a>
            <a
              href="{{curr_tut.linkedin_link}}"
              target="_blank"
              class="hover:text-cyan-300"
            >
              <i class="fa-brands fa-linkedin-in text-2xl"></i>
            </a>
          </div>
        </div>
        <div>
          <h4 class="mb-2 text-white text-lg font-bold">Diplomes</h4>
          <p class="text-sm">{{curr_tut.qualifications}}</p>
          <h5 class="text-cyan-300 text-md">
            {{curr_tut.years_of_experience}} an(s) d'experience
          </h5>
        </div>
      </div>
    </div>
    <!--  -->
  </section>
  <!--------------------------------------- more info --------------------------------------->
  <section class="mt-4 flex flex-col md:flex-row gap-4 w-full">
    <div
      class="p-6 bg-blue-50 w-full lg:max-w-[400px] rounded-md flex flex-col justify-"
    >
      <h4 class="text-black text-xl font-bold">Matieres</h4>
      <p class="py-1">{{curr_tut.subjects}}</p>
      <h4 class="text-black text-xl font-bold">Classes</h4>
      <p class="py-1">{{curr_tut.grades}}</p>
    </div>
    <div class="w-full rounded-md">
      <h4 class="text-black text-xl mb-4 font-bold">
        Articles postés dans le forum
      </h4>

      {% if not rel_articles %}
      <!--  -->
      {% include 'components/no_data.html' %}
      <!--  -->
      {% else %}

      <div class="w-full">
        {% for obj in rel_articles %}
        <div
          class="relative bg-green-100 hover:bg-white hover:shadow-lg rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          {% if obj.author == user or user.is_superuser %}
          <a
            class="absolute top-4 right-4 px-3 py-2 hover:bg-sky-300 z-30 rounded-full transition duration-300 ease-in-out"
            href="{% url 'edit_forum_article' obj.id %}"
            ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
          ></a>
          {% endif %}
          <a href="{% url 'forum_article' obj.id  %}" class="flex">
            <img
              class="w-40 object-cover"
              src="{% static 'imgs/forum.webp' %}"
              alt="article image"
            />
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-black text-2xl font-bold">{{obj.title}}</h4>
              <p class="pt-2 text-sm">{{obj.content|truncatechars:300}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
  {% else %}
  <section class="my-4 w-full mx-auto rounded-md">
    <div class="grid md:grid-cols-2 gap-8">
      <article>
        <h3 class="mb-1 text-bold text-black">Enseignants</h3>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          sint inventore fugiat eum vel. Accusamus excepturi eos harum at quidem
          perspiciatis vitae, doloremque voluptate sunt ad fugit beatae
          repellat! Suscipit.
        </p>

        <form
          class="w-full p-8 bg-sky-200 rounded-md"
          method="POST"
          action=""
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!--  -->
          {% for field in form %}
          <div>
            <h3 class="mb-1 text-bold text-black">{{field.label}}</h3>
            {{field}}
          </div>
          {% endfor %}
          <div class="my-4 flex gap-4 items-end">
            <input
              class="px-8 py-2 bg-gray-700 hover:bg-blue-700 text-white rounded-md cursor-pointer"
              type="submit"
              value="Enregistrer"
            />
            <a
              class="bg-white px-8 py-2 rounded-md hover:bg-red-600 hover:text-white"
              href="{{request.META.HTTP_REFERER}}"
            >
              Annuler
            </a>
          </div>
        </form>
      </article>
      <img
        class="w-full h-full rounded-md object-cover"
        src="{% static 'imgs/teacher.jpg' %}"
        alt="curr_ad image"
      />
    </div>
  </section>
  {% endif %}
</div>

{% endblock %}
