{% extends 'main.html' %} {% load static %} {% block content %}
<script src="repeat.min.js"></script>
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav class="mb-4 mx-auto py-2 flex items-center justify-between text-xs w-full">
    <div class="flex gap-4 items-center">
      <a
        class="hover:text-green-300 transition ease-in duration-300"
        href="{% url 'home' %}"
        >
        <i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class= "hover:text-green-400 transition ease-in duration-300"
        href="{% url 'schools' %}"
        >Ecoles</a
      >
      /
      <span class="text-blue-950 font-black">{{school.name}}</span>
    </div>

    {% if user.is_staff %}
    <div class="flex gap-2 items-center">
      <form action="{% url 'verify_school' school.id %}" method="POST">
        {% csrf_token %}
        <!--  -->
        {% if not school.is_verified %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">
        
        Vérifier
      </span>
      <i class="fa-solid fa-certificate md:ml-2"></i>
        </button>
          {% else %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">
        
        Revoquer la vérification
      </span>
      <i class="fa-solid fa-certificate md:ml-2"></i>
        </button>
        {% endif %}
      </form>

    <!--  -->

      <form action="{% url 'feature_school' school.id %}" method="POST">
        {% csrf_token %}
          <!--  -->
        {% if not school.is_featured %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">

        Mettre en vedette
      </span>
      <i class="fa-solid fa-bullhorn md:ml-2"></i>
        </button>
          {% else %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">
        
        Retirer des vedettes
      </span>
      <i class="fa-solid fa-bullhorn md:ml-2"></i>
        </button>
        {% endif %}
      </form>
    </div>
    {% endif %}
  </nav>

  <!--------------------------------------- banner section --------------------------------------->

  <div class="relative">
    {% if not school.is_verified %}
    <span class="px-4 py-2 rounded-md absolute top-8 right-8 bg-red-700 text-white text-sm">
      <span class="hidden md:inline">
        En cours de vérification 
        
      </span>
      <i class="fa-solid fa-spinner md:ml-2"></i>
    </span>
    {% else %}
    <span class="px-4 py-2 rounded-md absolute top-8 right-8 bg-green-500 text-white text-sm">
      <span class="hidden md:inline">
        Vérifiée 
        
      </span>
      <i class="fa-solid fa-certificate md:ml-2"></i>
    </span>
    {% endif %}

    {% if school.banner %}
    <img
      class="w-full h-[500px] rounded-md object-cover"
      src="{{school.banner.url}}"
      alt="image"
    />
    {% else %}
    <img
      class="w-full h-[300px] rounded-md object-contain"
      src="{% static 'vectors/school.png' %}"
      alt="image"
    />
    {% endif %}
  </div>

  <!--------------------------------------- hero section --------------------------------------->

  <div
    class="my-8 mx-auto lg:p-10 lg:border lg:hover:border-blue-950 w-full transition duration-300 ease-in-out rounded-md"
  >
    <article
      class="flex flex-col text-left justify-between items-start text-left"
    >
      <div class="flex justify-between items-center w-full">
        <div class="flex items-center gap-4">
          <div>
      {% if school.crest %}
      <img
        class="w-full h-20 rounded-full object-cover"
        src="{{school.crest.url}}"
        alt="image"
      />
      {% else %}
      <img
        class="w-full h-20 rounded-full object-cover"
        src="{% static 'imgs/crest.jpg' %}"
        alt="image"
      />
      {% endif %}
          </div>
          <div class="flex-col gap-4">
      <h2 class="mb-2 text-3xl text-black font-bold">{{school.name}} </h2>
      <p>
        <i class="fa fa-bullhorn mr-2 text-black"></i>
        <em class="text-green-500 font-bold">"{{school.moto|title}}" </em>
      </p>
      <p>
        <i class="fa fa-trowel-bricks mr-2 text-black"></i>
        Fondée en {{school.year_founded}}
      </p>
      <p class="text-sm">
        <i class="fa fa-clock mr-2 text-black"></i>
        Ouvert de {{school.opening_hour}} à {{school.closing_hour}}
      </p>
      <p class="text-sm">
        <i class="fa fa-star mr-2 text-black"></i>
        {{school.avg_rating}} / 5
      </p>
          </div>
        </div>
        
      <form action="{% url 'follow_school' school.id %}" method="POST">
        {% csrf_token %}
        <!--  -->
        {% if not is_following %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white text-sm hover:bg-green-600 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">
        
        Suivre
      </span>
      <i class="fa-solid fa-bell md:ml-2"></i>
        </button>
          {% else %}
          <button
      type="submit"
      class="px-4 py-3 bg-blue-950 text-white text-sm hover:bg-red-700 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
      >
      <span class="hidden md:inline">
        
        Ne plus suivre
      </span>
      <i class="fa-solid fa-bell-slash md:ml-2"></i>
        </button>
        {% endif %}
      </form>
      </div>
      <!--  -->
      {% if description %}
      <p class="p-4 my-2 bg-blue-50 rounded-md text-gray-600">
        {{school.description}}
      </p>
      {% endif %}
      <!--  -->
      <div class="my-4 grid md:grid-cols-2 gap-6 w-full">
        <div class="p-6 lg:p-8 bg-blue-950 flex flex-col justify-between rounded-md w-full">
          <article>
            <p class="text-white text-xl font-bold">Niveaux d'Education</p>
            <ul class="my-4 flex flex-wrap gap-4">
              {% for obj in school.levels.all %}
              <!--  -->
              <li class="px-4 py-3 flex items-center gap-2 rounded-md bg-white text-black">
                <img
              class="h-10 w-10 object-contain"
              src="{{obj.image.url}}"
              alt="{{level.name}} image"
            />
               

                 {{obj.name|title}}
               
              </li>
              <!--  -->
              {% endfor %}
            </ul>
          </article>
        </div>
      {% if user.is_authenticated and review_form %}
      <form id="review_form" class="p-6 bg-gray-100 w-full  rounded-md " action="{% url 'review_school' school.id %}" method="POST">
        {% csrf_token %}
        <h3 class="mb-4 text-black text-xl font-bold">Annoter cet etablissement</h3>
        <!--  -->
        <!-- <div class="rating my-4 flex gap-2">
          <i class="rating_star fa-regular fa-star text-green-400 cursor-pointer" id="star-1" value="1"></i>
          <i class="rating_star fa-regular fa-star text-green-400 cursor-pointer" id="star-2" value="2"></i>
          <i class="rating_star fa-regular fa-star text-green-400 cursor-pointer" id="star-3" value="3"></i>
          <i class="rating_star fa-regular fa-star text-green-400 cursor-pointer" id="star-4" value="4"></i>
          <i class="rating_star fa-regular fa-star text-green-400 cursor-pointer" id="star-5" value="5"></i>
        </div> -->
        <div>
          <h3 class="mb-1">{{review_form.rating.label}}</h3>
          {{review_form.rating}}
        </div>
        <div>
          <h3 class="mb-1">{{review_form.comment.label}}</h3>
          {{review_form.comment}}
        </div>
        <button
        type="submit"
        class="px-4 py-3 bg-blue-950 text-white text-sm hover:bg-green-500 rounded-md flex justify-between items-center transition duration-300 ease-in-out cursor-pointer"
        >
          Voter
        </button>
      </form>
      {% endif %}
      </div>
      <!--  -->
      <div class="flex gap-2 w-full">
        {% if is_manager %}
        <a
          href="{% url 'edit_school' school.id %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-red-700"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        {% endif %}
      <a href="{% url 'chat_page' school.manager.id %}"

          class="mt-4 px-4 py-3 rounded-md flex justify-between items-center text-black hover:text-white bg-green-200 hover:bg-green-600"
          ><i class="fa-solid fa-message"></i
        ></a>
        <a
          href="https://wa.me/{{school.whatsapp}}"
          class="mt-4 px-4 py-3 rounded-md text-white hover:text-white bg-green-500 hover:bg-green-700"
          target="_blank"
        >
          <i class="fab fa-whatsapp"></i>
        </a>
        <a
          href="tel:{{school.tel}}"
          class="mt-4 px-4 py-3 rounded-md text-white hover:text-white bg-blue-900 hover:bg-blue-950"
          target="_blank"
        >
          <i class="fa fa-phone"></i>
        </a>
      </div>
    </article>
  </div>

  <!--------------------------------------- tabs section --------------------------------------->

  <section  class="my-4 mx-auto flex justify-center flex-wrap gap-2">
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'overview')"
      id="defaultOpen"
    >
      <i class="fa-solid fa-eye mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Aperçue
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'academia')"
    >
      <i class="fa-solid fa-school mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Académie
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'teachers')"
    >
      <i class="fa-solid fa-chalkboard-user mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Enseignants
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'classrooms')"
    >
      <i class="fa-solid fa-graduation-cap mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Classes
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'structures')"
    >
      <i class="fa-solid fa-building mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Structures
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'articles')"
    >
      <i class="fa-solid fa-newspaper mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Articles
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'gallery')"
    >
      <i class="fa-solid fa-images mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Gallerie
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'performance')"
    >
      <i class="fa-solid fa-chart-pie mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Performance
      </span>
    </button>
    <button
      class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
      onclick="openTab(event, 'preregs')"
    >
      <i class="fa-solid fa-id-card mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Préinscription
      </span>
    </button>
    {% if review_form %}
    <button
    class="tablinks px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-white hover:shadow-md transition duration-300 ease-in group"
    onclick="openTab(event, 'reviews')"
    >
      <i class="fa-solid fa-star mr-2 text-2xl group-hover:text-green-400"></i>
      <span class="hidden group-hover:inline transition duration-300 ease-in">
        Annotations
      </span>
  </button>
  {% endif %}
  </section>

  <!--------------------------------------- more info --------------------------------------->

  <section class="my-8">
    <div
      id="overview"
      class="tabcontent lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="flex flex-col-reverse lg:flex-row gap-8">
        <div class="w-full flex flex-col">
          <h2 class="pb-2 font-bold text-xl text-black">Historique</h2>
          <p class="mb-4 p-4 bg-gray-50 rounded-md">{{school.history}}</p>
          <h2 class="pb-2 font-bold text-xl text-black">
      Message de la direction
          </h2>
          <p class="mb-4 p-4 bg-gray-50 rounded-md">{{school.mgt_quote}}</p>
        </div>
        <div class="w-full lg:max-w-[400px] grid md:grid-cols-2 lg:grid-cols-1 gap-8">
          <div class="p-8 bg-blue-50 rounded-md">
      <h2 class="pb-2 font-bold text-xl text-black">Informations</h2>
      <ul class="flex flex-col gap-2">
        <li>
          <i class="fa fa-phone text-blue-950 mr-2"></i>
          {{school.tel}}
        </li>
        <!-- <li>
          <i class="fa fa-phone text-blue-950 mr-2"></i>
          {{school.cel}}
        </li> -->
        <li>
          <i class="fa fa-paper-plane text-blue-950 mr-2"></i>
          {{school.email}}
        </li>
        <li>
          <i class="fa fa-chalkboard-user text-blue-950 mr-2"></i>
          {{school.teacher_count}} Enseignants
        </li>
        <li>
          <i class="fa fa-users text-blue-950 mr-2"></i>
          {{school.student_count}} Effectif
        </li>
        <li>
          <i class="fa fa-bookmark text-blue-950 mr-2"></i>
          {{school.formation_count}} Cursus
        </li>
        <li>
          <i class="fa fa-graduation-cap text-blue-950 mr-2"></i>
          {{school.faculties}} Filières
        </li>
        <li>
          <i class="fa fa-map-marker-alt text-blue-950 mr-2"></i
          >{{school.address}}
        </li>
      </ul>
          </div>
          <!--  -->
          <div class="p-8 bg-blue-50 rounded-md">
      <h2 class="pb-2 font-bold text-xl text-black">Description</h2>
      <p class="text-sm">{{school.description}}</p>
          </div>
        </div>
      </div>
    </div>

  <!--------------------------------------- academia section --------------------------------------->

    <div
      id="academia"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <h3 class="pb-2 font-bold text-xl text-black">Pédaogie</h3>
   
    
      <p class="my-4 bg-gray-50 p-4 rounded-md">{{school.pedagogy}}</p>
    </div>
    
  <!------------------------------------ classrooms section ------------------------------------------>

    <div
      id="classrooms"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
     
    <div class="mb-4 flex justify-between items-center">
      <h3 class="pb-2 font-bold text-xl text-black">Salles de classes</h3>
       {% if is_manager or user.is_supersuer %}
        <a
          href="{% url 'create_classroom' %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
        {% endif %}
    </div>
      {% if not classrooms %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in classrooms %}
        <a
          href="{% url 'classroom' obj.id %}"
          class="bg-gray-100 hover:bg-white hover:shadow-md rounded-md overflow-hidden transition duration-300 ease-in-out"
        >
          {% if obj.image %}
          <img
      class="w-full h-40 object-cover"
      src="{{obj.image.url}}"
      alt="image"
          />
          {% else %}
          <img
      class="w-full h-40 object-cover"
      src="{% static 'vectors/classroom.png' %}"
      alt="image"
          />
          {% endif %}
          <div class="p-4 flex flex-col gap-2 text-gray-700">
      <h4 class="text-xl text-black font-bold">
        {{obj.name}} {% if obj.serie %}
        <span class="text-green-400">{{obj.serie}}</span>
        {% endif %}
      </h4>

      <p>Effectif : <span class="font-bold">{{obj.size}}</span></p>
      <p>
        Frais de Scolarité : <span class="font-bold">{{obj.fees}}</span>
      </p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  <!--------------------------------------- teachers section --------------------------------------->

    <div
      id="teachers"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >    
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Enseignants</h3>
        {% if is_manager %}
          <a
      href="{% url 'create_teacher' %}"
      class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
      ><i class="fa-solid fa-plus"></i
          ></a>
        {% endif %}
      </div>
      {% if not teachers %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in teachers %}
        <a
          href="{% url 'teacher' obj.id %}"
          class="bg-gray-100 hover:bg-white hover:shadow-md rounded-md overflow-hidden transition duration-300 ease-in-out"
        >
          {% if obj.image %}
          <img
      class="w-full h-40 object-cover"
      src="{{obj.image.url}}"
      alt="image"
          />
          {% else %}
          <img
      class="w-full h-40 object-cover"
      src="{% static 'vectors/teacher.png' %}"
      alt="image"
          />
          {% endif %}
          <div class="p-4 flex flex-col gap-2 text-gray-700">
      <h2 class="text-xl text-black font-bold" class="font-bold">
        {{obj.designation}} {{obj.fullname}}
      </h2>
      <p>Martières : <span class="font-bold">{{obj.subjects}}</span></p>
      <p>{{obj.overview}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

      <!--------------------------------------- structures section --------------------------------------->

    <div
      id="structures"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Structures</h3>
        {% if is_manager %}
        <a
          href="{% url 'create_structure' %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
        {% endif %}
      </div>
      {% if not structures %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in structures %}
        <a
          href="{% url 'structure' obj.id %}"
          class="bg-gray-100 hover:bg-white hover:shadow-md rounded-md overflow-hidden transition duration-300 ease-in-out"
        >
          {% if obj.image %}
          <img
      class="w-full h-40 object-cover"
      src="{{obj.image.url}}"
      alt="image"
          />
          {% else %}
          <img
      class="w-full h-40 object-cover"
      src="{% static 'vectors/library.png' %}"
      alt="image"
          />
          {% endif %}
          <div class="p-4 flex flex-col gap-2 text-gray-700">
      <h3 class="text-xl text-black font-bold" class="font-bold">
        {{obj.get_type_display}} {{obj.name}}
      </h>
      <p class="mt-2 text-sm font-light"><i class="fa-solid fa-users text-green-500"></i> {{obj.capacity}} personnes</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

      <!--------------------------------------- articles section --------------------------------------->

    <div
      id="articles"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
        <div class="mb-4 flex justify-between items-center">
      <h3 class="pb-2 font-bold text-xl text-black">Articles</h3>
        {% if is_manager %}
        <a
          href="{% url 'create_article' %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
        {% endif %}

    </div>
      {% if not articles %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in articles %}
        <a
          href="{% url 'article' obj.id %}"
          class="bg-gray-100 hover:bg-white hover:shadow-md rounded-md overflow-hidden transition duration-300 ease-in-out"
        >
          {% if obj.image %}
          <img
      class="w-full h-40 object-cover"
      src="{{obj.image.url}}"
      alt="image"
          />
          {% else %}
          <img
      class="w-full h-40 object-cover"
      src="{% static 'vectors/article.png' %}"
      alt="image"
          />
          {% endif %}
          <div class="p-4 flex flex-col gap-2 text-gray-700">
      <h3 class="text-xl text-black font-bold" class="font-bold">
        {{obj.title}}
      </h3>
      {% if obj.subtitle %} <p>{{obj.subtitle}}</p> {% endif %}
      <p>{{obj.content|truncatechars:100}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

      <!--------------------------------------- gallery section --------------------------------------->

    <div
      id="gallery"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Gallerie</h3>
        {% if is_manager %}
        <a
          href="{% url 'create_gallery' %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
        {% endif %}
      </div>
      {% if not galleries %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in galleries %}
          <img
      class="w-full h-60 object-cover rounded-md"
      src="{{obj.image.url}}"
      alt="image"
          />
        {% endfor %}
      </div>
      {% endif %}
    </div>

      <!--------------------------------------- performance section --------------------------------------->

    <div
      id="performance"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Examens</h3>
          {% if is_manager %}
          <a
      href="{% url 'create_performance' %}"
      class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
      ><i class="fa-solid fa-plus"></i
          ></a>
          {% endif %}
      </div>
      <div class="grid md:grid-cols-2">
        <div class="h-80">
          <canvas class="text-gray-200" id="pass_rate_chart"></canvas>
        </div>
      </div>
    </div>

      <!--------------------------------------- pre registration section --------------------------------------->

    <div
      id="preregs"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Préinscriptions</h3>
        
        <a
          href="{% url 'create_prereg' school.id %}"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
        
      </div>
      {% if not preregs %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for obj in preregs %}
        <a
          href="{% url 'prereg' obj.id %}"
          class="bg-gray-100 hover:bg-white hover:shadow-md rounded-md overflow-hidden transition duration-300 ease-in-out group"
        >
        <div class="p-4 flex flex-col gap-2 group-hover:text-black">
      <i class="fa-solid fa-graduation-cap group text-2xl-group-hover:text-green-400 text-5xl"></i>
      <h3 class="text-xl font-bold" class="font-bold">
        {{obj.last_name}} {{obj.first_name}} 
        {% if obj.gender == 'M' %}
        <i class="fa-solid fa-mars text-blue-500"></i>
        {% else %}
        <i class="fa-solid fa-venus text-rose-500"></i>
        {% endif %}
      </h3>
      <p>{{obj.classroom}}</p>
      <p>{{obj.last_school}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
      <!--------------------------------------- reviews section --------------------------------------->

    <div
      id="reviews"
      class="tabcontent hidden lg:p-8 lg:border lg:hover:border-blue-950 transition duration-300 ease-in-out rounded-md"
    >
      <div class="mb-4 flex justify-between items-center">
        <h3 class="pb-2 font-bold text-xl text-black">Annotations</h3>
        <a
          href="#review_form"
          class="mt-4 px-4 py-3 rounded-md text-black hover:text-white bg-green-200 hover:bg-blue-950"
          ><i class="fa-solid fa-plus"></i
        ></a>
      </div>
      {% if not reviews %} {% include 'components/no_data.html' %} {% else %}
      <div class="flex flex-col gap-4">
        {% for obj in reviews %}
        <div class="p-4 lg:p-8 border flex flex-col gap-2">
          <div class="flex justify-between items-center">
      <h3 class="text-xl font-bold" class="font-bold">
        @{{obj.user.first_name}}
      </h3>
      <span class="flex gap-1">
        <i class="fa-solid fa-star text-green-400 text-xl"></i> 
      </span>
          </div>
          <p>{{obj.comment}}</p>
          <p>{{obj.date.date}}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
</div>

<script>

  var ctx = document.getElementById("pass_rate_chart");
  var activ_chart = new Chart(ctx, {
    type: "bar",
    data: {
      labels: [{% for obj in exam_stats %} '{{obj.exam}}', {% endfor %}],
      datasets: [
        {
          label: "Candidats",
          data: [{% for obj in exam_stats %} '{{obj.candidates}}', {% endfor %}],
        backgroundColor: [
          
          'rgba(54, 162, 235, 0.2)',
        ],
        borderColor: [
          'rgb(54, 162, 235)',
        ],
        borderWidth: 3,
        },
        {
          label: "Réussites",
          data: [{% for obj in exam_stats %} '{{obj.pass_rate}}', {% endfor %}],
        backgroundColor: [
          'rgba(75, 192, 192, 0.2)',
        ],
        borderColor: [
          'rgb(75, 192, 192)',
        ],
        borderWidth: 3,
        },
        {
          label: "Echecs",
          data: [{% for obj in exam_stats %} '{{obj.fail_rate}}', {% endfor %} ],
        backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
        ],
        borderColor: [
      'rgb(255, 99, 132)',
        ],
        borderWidth: 3,
        },
      ],
    },
  });
  
</script>
{% endblock %}
