{% extends 'main.html' %} {% load static %} {% block content %}

<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav class="mb-4 mx-auto py-2 flex gap-4 items-center text-xs w-full">
    <a
      class="hover:text-green-400 transition ease-in duration-300"
      href="{% url 'home' %}"
      ><i class="fa-solid fa-house"></i>
    </a>
    /
    <a
      class="hover:text-green-400 transition ease-in duration-300"
      href="{% url 'schools' %}"
      >Institus</a
    >
    /
    <span>{{school.name}}</span>
  </nav>

  <!--------------------------------------- edit school --------------------------------------->

  <div>
    {% if school.banner %}
    <img
      class="w-full h-80 rounded-md object-cover"
      src="{{school.banner.url}}"
      alt="school image"
    />
    {% else %}
    <img
      class="w-full h-80 rounded-md object-cover"
      src="{% static 'imgs/uni.jpg' %}"
      alt="school image"
    />
    {% endif %}
  </div>

  <!--------------------------------------- tabs section --------------------------------------->

  <section class="my-8 tab flex gap-4 max-w-[1000px] mx-auto text-gray-700">
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'general')"
      id="defaultOpen"
    >
      Aperçue
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'academia')"
    >
      Académie
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'classrooms')"
    >
      Classes
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'teachers')"
    >
      Enseignants
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'structures')"
    >
      Structures
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'articles')"
    >
      Articles
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'photos')"
    >
      Gallerie
    </button>
    <button
      class="tablinks px-4 py-2 bg-gray-50 hover:bg-blue-950 hover:text-white rounded-md transition duration-300 ease-in-out"
      onclick="openTab(event, 'stats')"
    >
      Performance
    </button>
  </section>

  <!-- <h3 class="mb-4 text-black text-2xl font-bold">Modifier Mon Institu</h3> -->

  <div class="my-4 p-6 mx-auto border-2 w-full rounded-md">
    <!---------------------------- general form ---------------------------->
    <form
      id="general"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-8 grid md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.name.label}}</h3>
          {{form.name}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.moto.label}}</h3>
          {{form.moto}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.address.label}}</h3>
          {{form.address}}
        </div>
      </div>
      <!--  -->
      <div class="mb-8 flex gap-3">
        <div class="w-1/3">
          <h3 class="mb-1 text-black font-bold">{{form.levels.label}}</h3>
          {{form.levels}}
        </div>
        <div
          class="w-2/3 mb-2 grid md:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-0"
        >
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{form.year_founded.label}}
            </h3>
            {{form.year_founded}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{form.email.label}}</h3>
            {{form.email}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{form.website.label}}</h3>
            {{form.website}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{form.tel.label}}</h3>
            {{form.tel}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{form.cel.label}}</h3>
            {{form.cel}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{form.whatsapp.label}}</h3>
            {{form.whatsapp}}
          </div>
          <!-- <div>
            <h3 class="mb-1 text-black font-bold">{{form.telegram.label}}</h3>
            {{form.telegram}}
          </div> -->
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{form.resumption_date.label}}
            </h3>
            {{form.resumption_date}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{form.opening_hour.label}}
            </h3>
            {{form.opening_hour}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{form.closing_hour.label}}
            </h3>
            {{form.closing_hour}}
          </div>
        </div>
      </div>
      <!--  -->
      <!-- <div class="mb-4 grid md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.thumbnail.label}}</h3>
          {{form.thumbnail}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.banner.label}}</h3>
          {{form.banner}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.crest.label}}</h3>
          {{form.crest}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.certificate.label}}</h3>
          {{form.certificate}}
        </div>
      </div> -->
      <!--  -->
      <div class="mb-8 grid lg:grid-cols-2 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.description.label}}</h3>
          {{form.description}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.history.label}}</h3>
          {{form.history}}
        </div>
      </div>
      <!--  -->
      <div class="flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- academia form ---------------------------->
    <form
      id="academia"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.teacher_count.label}}
          </h3>
          {{form.teacher_count}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.student_count.label}}
          </h3>
          {{form.student_count}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">
            {{form.formation_count.label}}
          </h3>
          {{form.formation_count}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.success_rate.label}}</h3>
          {{form.success_rate}}
        </div>
      </div>
      <div class="mb-2 grid lg:grid-cols-2 gap-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.ad_copy.label}}</h3>
          {{form.ad_copy}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.pedagogy.label}}</h3>
          {{form.pedagogy}}
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- classrooms form ---------------------------->
    <form
      id="classrooms"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div>
          <div class="mb-2 grid md:grid-cols-2 gap-4">
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{classroom_form.name.label}}
              </h3>
              {{classroom_form.name}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{classroom_form.serie.label}}
              </h3>
              {{classroom_form.serie}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{classroom_form.size.label}}
              </h3>
              {{classroom_form.size}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{classroom_form.fees.label}}
              </h3>
              {{classroom_form.fees}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{classroom_form.success_rate.label}}
              </h3>
              {{classroom_form.success_rate}}
            </div>
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{classroom_form.overview.label}}
            </h3>
            {{classroom_form.overview}}
          </div>
        </div>

        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier une Salle de classe
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- teachers form ---------------------------->
    <form
      id="teachers"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div>
          <div class="grid md:grid-cols-2 gap-4">
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{teacher_form.designation.label}}
              </h3>
              {{teacher_form.designation}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{teacher_form.fullname.label}}
              </h3>
              {{teacher_form.fullname}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{teacher_form.xp.label}}
              </h3>
              {{teacher_form.xp}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{teacher_form.subjects.label}}
              </h3>
              {{teacher_form.subjects}}
            </div>
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{teacher_form.qualifications.label}}
            </h3>
            {{teacher_form.qualifications}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{teacher_form.cv.label}}</h3>
            {{teacher_form.cv}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{teacher_form.image.label}}
            </h3>
            {{teacher_form.image}}
          </div>
        </div>
        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier un Enseignant
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- structures form ---------------------------->
    <form
      id="structures"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div>
          <div class="grid md:grid-cols-3 gap-4">
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{structure_form.genre.label}}
              </h3>
              {{structure_form.genre}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{structure_form.label.label}}
              </h3>
              {{structure_form.label}}
            </div>
            <div>
              <h3 class="mb-1 text-black font-bold">
                {{structure_form.capacity.label}}
              </h3>
              {{structure_form.capacity}}
            </div>
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{structure_form.overview.label}}
            </h3>
            {{structure_form.overview}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{structure_form.image.label}}
            </h3>
            {{structure_form.image}}
          </div>
        </div>
        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier une Structure
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- articles form ---------------------------->
    <form
      id="articles"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{article_form.title.label}}
            </h3>
            {{article_form.title}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{article_form.content.label}}
            </h3>
            {{article_form.content}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{article_form.image.label}}
            </h3>
            {{article_form.image}}
          </div>
        </div>
        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier un Article
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- photos form ---------------------------->
    <form
      id="photos"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{photo_form.image.label}}
            </h3>
            {{photo_form.image}}
          </div>
        </div>
        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier une image
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
    <!---------------------------- stats form ---------------------------->
    <form
      id="stats"
      class="tabcontent w-full rounded-xl text-sm"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="mb-2 grid md:grid-cols-2 gap-4">
        <div class="mb-2 grid md:grid-cols-2 gap-4">
          <div>
            <h3 class="mb-1 text-black font-bold">{{stats_form.exam.label}}</h3>
            {{stats_form.exam}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{stats_form.pass_rate.label}}
            </h3>
            {{stats_form.pass_rate}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">
              {{stats_form.candidates.label}}
            </h3>
            {{stats_form.candidates}}
          </div>
          <div>
            <h3 class="mb-1 text-black font-bold">{{stats_form.year.label}}</h3>
            {{stats_form.year}}
          </div>
        </div>
        <div>
          <h3 class="mb-1 text-xl text-black font-bold">
            Ajouter ou modifier un Examen
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet culpa
            modi cumque voluptates debitis minima dolorem voluptatibus quod
            suscipit pariatur? Iure, odit eveniet. Eaque, assumenda unde. Quod
            similique numquam fuga alias officiis. Hic explicabo unde deleniti
            rem autem quam voluptatem, animi placeat omnis? Nemo, explicabo
            doloremque vero pariatur hic minus exercitationem, voluptatem optio
            natus ex cupiditate temporibus quas repudiandae reprehenderit quos
            modi animi delectus nobis, soluta alias nihil iste? Animi vel,
            adipisci exercitationem esse sit voluptates fugit soluta hic
            aliquid, quas iste doloribus, laboriosam nobis sapiente natus
            quaerat omnis neque. Rem et dolore molestias cum sapiente nesciunt
            adipisci eius nam.
          </p>
        </div>
      </div>
      <!--  -->
      <div class="mt-4 flex gap-4 items-end">
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-600 text-white rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
