{% extends 'main.html' %} {% load static %}
<div></div>
{% block content %}

<div class="px-8 w-full mx-auto max-w-[1350px]">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav class="mx-auto py-2 flex flex-col gap-4 text-xs w-full max-w-[1350px]">
    <div class="flex items-center">
      <a
        class="mr-2 hover:text-green-400 transition ease-in duration-300"
        href="{% url 'home' %}"
        ><i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class="ml-2 hover:text-green-400 transition ease-in duration-300"
        href="{% url 'schools' %}"
        >Ecoles</a
      >
    </div>

    <div class="flex flex-col gap-4 w-full">
      <p class="my-4 w-full max-w-lg text-lg">
        Découvrez des écoles qui façonnent des futurs brillants. Trouvez votre
        prochaine destination éducative avec notre recherche simplifiée.
      </p>
      <!--------------------------------------- levels --------------------------------------->
      <div class="my-4 flex flex-wrap gap-2">
        {% for obj in levels %}
        <!--  -->
        <a
          href="{% url 'tutors' %}?query={{obj.name}}"
          class="px-4 py-2 flex justify-between items-center rounded-md text-sm text-gray-700 bg-gray-100 hover:bg-sky-200 hover:text-black transition duration-300 ease-in-out"
        >
          {{obj.name}}
          <img
            class="h-10 object-contain"
            src="{{obj.image.url}}"
            alt="image"
          />
        </a>
        <!--  -->
        {% endfor %}
      </div>

      <div class="flex flex-col md:flex-row justify-between items-center gap-3">
        <div class="flex gap-2">
          {% if user.is_staff %}
          <a
            href="{% url 'dashboard' %}"
            class="p-4 bg-green-100 flex items-center text-black hover:bg-green-200 rounded-md transition duration-300 ease-in-out"
            >Tableau de bord<i class="fa-solid fa-dashboard ml-2"></i>
          </a>
          {% endif %}
          <!--  -->
          {% if has_school %}
          <a
            href="{% url 'my_school' %}"
            class="p-4 bg-sky-100 text-black hover:bg-sky-300 rounded-md transition duration-300 ease-in-out"
            ><i class="fa-solid fa-graduation-cap"></i>
          </a>
          {% else %}
          <a
            href="{% url 'create_school' %}"
            class="p-4 bg-sky-100 flex items-center text-black hover:bg-sky-200 rounded-md transition duration-300 ease-in-out"
            >Nouvelle école<i class="fa-solid fa-plus ml-2"></i>
          </a>
          {% endif %}
        </div>
        <!------------------ search form ------------------->
        <form
          id="search_box"
          class="p-4 bg-green-200 rounded-md w-full max-w-3xl flex flex-col md:flex-row gap-3 justify-between"
        >
          <input
            type="text"
            name="query"
            class="px-4 py-2 text-black w-full rounded-md outline-none"
            placeholder="Ecole"
          />
          <input
            type="text"
            name="query"
            id="querier"
            class="px-4 py-2 text-black w-full rounded-md outline-none"
            placeholder="Adresse"
          />
          <select
            type="text"
            name="query"
            id="querier"
            class="px-4 py-2 text-black w-full rounded-md outline-none"
          >
            <option value="">Niveaux d'etudes</option>
            {% for obj in levels %}
            <option value="{{obj.name}}">{{obj.name}}</option>
            {% endfor %}
          </select>
          {% include 'components/countries.html' %}
          <button
            class="group px-4 py-3 text-sm bg-blue-950 hover:bg-green-300 text-white hover:text-black rounded-md transition duration-300 ease-in-out"
            type="submit"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <!--------------------------------------- schools --------------------------------------->
  <section id="schools" class="py-10 bg-white w-full text-left">
    <div class="w-full mx-auto">
      {% if not schools %} {% include 'components/no_data.html' %} {% else %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
        {% for obj in schools %}
        <div
          class="relative flex flex-col bg-blue-50 hover:bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          <!--  -->
          {% if obj.is_verified %}
          <span
            class="absolute left-4 top-4 p-2 bg-sky-500 text-white text-xs rounded-md z-30"
            ><i class="fa-solid fa-certificate"></i
          ></span>
          {% endif %} {% if obj.manager == user %}
          <a
            class="absolute top-4 right-4 px-3 py-2 bg-white hover:bg-green-300 z-30 rounded-full transition duration-300 ease-in-out"
            href="{% url 'edit_school' obj.id %}"
            ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
          ></a>
          {% endif %}
          <div
            class="absolute top-[124px] right-4 left-4 px-4 py-2 w flex bg-white text-black text-sm rounded-t-md justify-between items-center z-30"
          >
            <p class="">
              <i class="fa-solid fa-chalkboard-user text-sky-500"></i>
              {{obj.teacher_count}}
              <span class="hidden xl:inline"> Professeurs</span>
            </p>
            <p class="">
              <i class="fa-solid fa-graduation-cap text-sky-500"></i>
              {{obj.student_count}}
              <span class="hidden xl:inline"> Elèves</span>
            </p>
            <p class="">
              <i class="fa-solid fa-bookmark text-sky-500"></i>
              {{obj.formation_count}}
              <span class="hidden xl:inline"> Cursus</span>
            </p>
          </div>
          <a href="{% url 'school' obj.id %}">
            <div class="w-full max-h-40 overflow-hidden">
              {% if obj.thumbnail %}
              <img
                class="w-full h-40 object-cover transition duration-500 group-hover:scale-110"
                src="{{obj.thumbnail.url}}"
                alt="image"
              />
              {% else %}
              <img
                class="w-full h-40 object-cover transition duration-500 group-hover:scale-110"
                src="{% static 'imgs/uni.jpg' %}"
                alt="image"
              />
              {% endif %}
            </div>
            <div class="px-4 py-2 rounded-b-md">
              <h4 class="text-black text-xl font-bold">{{obj.name}}</h4>
              <p class="text-gray-800">
                <i class="fa-solid fa-location-dot text-sky-500"></i>
                {{obj.address}}
              </p>
              <ul class="my-2 flex flex-wrap gap-2">
                {% for obj in obj.levels.all %}
                <!--  -->
                <li
                  class="px-2 py-1 rounded-md text-sm text-gray-800 bg-blue-200 transition duration-300 ease-in-out"
                >
                  {{obj.name|title}}
                </li>
                <!--  -->
                {% endfor %}
              </ul>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}
