{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->
  <nav
    class="mb-4 mx-auto py-2 flex justify-between items-center gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    <div class="flex gap-4 items-center">
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'home' %}"
        ><i class="fa-solid fa-house"></i>
      </a>
      /
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'schools' %}"
        >Ecoles</a
      >
      /
      <a
        class="hover:text-green-400 transition ease-in duration-300"
        href="{% url 'school' school.id %}"
        >{{school.name}}</a
      >
      / {% if curr_obj %}
      <span class="hidden md:inline text-blue-950 font-black">
        {{curr_obj.last_name}} {{curr_obj.first_name}}</span
      >
      {% else %}
      <span>Nouvelle Préinscription</span>
      {% endif %}
    </div>
  </nav>

  {% if not form %}
  <!--------------------------------------- prereg layout --------------------------------------->

  <div class="my-4 flex flex-col lg:flex-row justify-between items-start gap-8">
    <!--------------------- current prereg -------------------------->

    <div class="relative flex flex-col w-full overflow-hidden">
      {% if curr_obj.user == user or user.is_superuser %}
      <a
        class="absolute top-4 right-4 px-3 py-2 bg-green-300 hover:bg-white z-30 rounded-full transition duration-300 ease-in-out"
        href="{% url 'edit_prereg' curr_obj.id %}"
        ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
      ></a>
      {% endif %}
      <!--  -->
      <img
        class="h-80 w-full rounded-md object-cover"
        src="{% static 'vectors/preregs.png' %}"
        alt="image"
      />
      <div class="py-4 flex flex-col gap-2 text-gray-700">
        <h4 class="text-3xl text-black font-bold">
          {{curr_obj.last_name}} {{curr_obj.first_name}}
          <!--  -->
          {% if curr_obj.gender == 'M' %}
          <i class="fa-solid fa-mars text-blue-500"></i>
          {% else %}
          <i class="fa-solid fa-venus text-rose-500"></i>
          {% endif %}
        </h4>

        <p>
          Sexe :
          <span class="font-bold">{{curr_obj.get_gender_display}}</span>
        </p>
        <p>
          Derniere école :
          <span class="font-bold">{{curr_obj.last_school}}</span>
        </p>
        <p>
          Classe :
          <span class="font-bold">{{curr_obj.classroom}}</span>
        </p>
        <p>
          Commentaire :
          <span class="font-bold">{{curr_obj.comment}}</span>
        </p>
      </div>
    </div>

    <!--------------------------------------- relative preregs --------------------------------------->

    <div class="w-full lg:w-[400px]">
      <div
        class="flex flex-col md:grid grid-cols-2 lg:grid-cols-1 justify-between gap-8 w-full"
      >
        {% for obj in rel_preregs %}
        <div
          class="relative w-full flex flex-col bg-gray-100 hover:bg-white hover:shadow-md rounded-md transition duration-300 ease-in-out overflow-hidden group"
        >
          {% if obj.user == user or user.is_superuser %}
          <a
            class="absolute top-4 right-4 px-3 py-2 bg-green-300 hover:bg-white z-30 rounded-full transition duration-300 ease-in-out"
            href="{% url 'edit_prereg' obj.id %}"
            ><i class="fa-solid fa-pen-to-square text-black text-sm"></i
          ></a>
          {% endif %}
          <a href="{% url 'prereg' obj.id  %}">
            <img
              class="h-20 w-full object-cover"
              src="{% static 'vectors/preregs.png' %}"
              alt="image"
            />
            <div class="p-4 flex flex-col gap-2 text-gray-700 text-sm">
              <h4 class="text-lg text-black font-bold">
                {{curr_obj.last_name}} {{curr_obj.first_name}}
                <span class="text-green-400"
                  >{{curr_obj.get_gender_display}}</span
                >
              </h4>
              <p>
                Derniere école :
                <span class="font-bold">{{curr_obj.last_school}}</span>
              </p>
              <p>
                Classe :
                <span class="font-bold">{{curr_obj.classroom}}</span>
              </p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!--------------------------------------- prereg form --------------------------------------->
  {% else %}

  <div
    class="p-8 bg-gray-200 rounded-md w-full flex flex-col md:flex-row md:justify-center gap-4 items-center"
  >
    {% if curr_ad %}
    <h3 class="mb-4 text-black text-lg">Modifier cette préinscription</h3>
    {% else %}
    <h3 class="mb-4 text-black text-lg">
      Faire une nouvelle préinscription dans l'etablissement
      <span class="font-bold text-green-500 text-2xl">{{school.name}}</span>.
    </h3>
    {% endif %}
    <img
      class="h-[300px] rounded-md object-contain"
      src="{% static 'vectors/preregs.png' %}"
      alt="image"
    />
  </div>

  <div
    class="my-8 mx-auto w-full max-w-3xl p-8 border hover:border-blue-950 rounded-md w-full flex flex-col gap-4 items-center"
  >
    <form class="w-full" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-1 grid md:grid-cols-2 gap-y-2 gap-x-4">
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.last_name.label}}</h3>
          {{form.last_name}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.first_name.label}}</h3>
          {{form.first_name}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.gender.label}}</h3>
          {{form.gender}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.classroom.label}}</h3>
          {{form.classroom}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.last_school.label}}</h3>
          {{form.last_school}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.email.label}}</h3>
          {{form.email}}
        </div>
        <div>
          <h3 class="mb-1 text-black font-bold">{{form.phone.label}}</h3>
          {{form.phone}}
        </div>
        <div>
          <h3 class="my-1 text-black font-bold">{{form.comment.label}}</h3>
          {{form.comment}}
        </div>
      </div>
      <div class="mt-4 flex gap-4 items-end">
        <a
          class="bg-gray-100 px-4 py-2 rounded-md hover:bg-red-600 hover:text-white"
          href="{{request.META.HTTP_REFERER}}"
        >
          Annuler
        </a>
        <input
          class="px-4 py-2 bg-blue-950 hover:bg-green-300 text-white hover:text-black rounded-md cursor-pointer"
          type="submit"
          value="Enregistrer"
        />
      </div>
    </form>
  </div>

  {% endif %}
</div>

{% endblock %}
